In [36]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt

Hierarchical / Multi-level indexing is very exciting as it opens the door to some quite sophisticated data analysis and manipulation, especially for working with higher dimensional data. In essence, it enables you to store and manipulate data with an arbitrary number of dimensions in lower dimensional data structures like __Series(1d) and DataFrame(2d)__.

In [29]:
mac = pd.read_csv("D:/python/Data Analysis with Python/#Udemy/Pandas/bigmac.csv", parse_dates = ["Date"])
mac.head()

        Date    Country  Price in US Dollars
0 2016-01-01  Argentina                 2.39
1 2016-01-01  Australia                 3.74
2 2016-01-01     Brazil                 3.35
3 2016-01-01    Britain                 4.22
4 2016-01-01     Canada                 4.14

In [30]:
mac.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 652 entries, 0 to 651
Data columns (total 3 columns):
Date                   652 non-null datetime64[ns]
Country                652 non-null object
Price in US Dollars    652 non-null float64
dtypes: datetime64[ns](1), float64(1), object(1)
memory usage: 15.4+ KB

# Create a MultiIndex with the set_index() Method

In [45]:
#mac.set_index(keys = ["Date", "Country"], inplace= true)

In [42]:
mac.head()

                      Price in US Dollars
Date       Country
2016-01-01 Argentina                 2.39
           Australia                 3.74
           Brazil                    3.35
           Britain                   4.22
           Canada                    4.14

In [50]:
mac.index.names

FrozenList(['Date', 'Country'])

In [51]:
type(mac.index)

pandas.core.indexes.multi.MultiIndex

In [55]:
mac.index[1]

(Timestamp('2016-01-01 00:00:00'), 'Australia')

# The .get_level_values() Method

In [59]:
mac = pd.read_csv("D:/python/Data Analysis with Python/#Udemy/Pandas/bigmac.csv", parse_dates = ["Date"], index_col=["Date", "Country"])
mac.sort_index(inplace = True)
mac.head()

                      Price in US Dollars
Date       Country
2010-01-01 Argentina                 1.84
           Australia                 3.98
           Brazil                    4.76
           Britain                   3.67
           Canada                    3.97

### Return an Index of values for requested level, equal to the length of the index.

In [71]:
mac.index.get_level_values(0) # 0/1 depening on the position of the index !prefered
#or
mac.index.get_level_values("Date") # Date/Country depening on the position of the index

DatetimeIndex(['2010-01-01', '2010-01-01', '2010-01-01', '2010-01-01',
               '2010-01-01', '2010-01-01', '2010-01-01', '2010-01-01',
               '2010-01-01', '2010-01-01',
               ...
               '2016-01-01', '2016-01-01', '2016-01-01', '2016-01-01',
               '2016-01-01', '2016-01-01', '2016-01-01', '2016-01-01',
               '2016-01-01', '2016-01-01'],
              dtype='datetime64[ns]', name='Date', length=652, freq=None)

In [72]:
mac.index.get_level_values(1) # 0/1 depening on the position of the index !prefered
#or
mac.index.get_level_values("Country") # Date/Country depening on the position of the index

Index(['Argentina', 'Australia', 'Brazil', 'Britain', 'Canada', 'Chile',
       'China', 'Colombia', 'Costa Rica', 'Czech Republic',
       ...
       'Switzerland', 'Taiwan', 'Thailand', 'Turkey', 'UAE', 'Ukraine',
       'United States', 'Uruguay', 'Venezuela', 'Vietnam'],
      dtype='object', name='Country', length=652)

# The .set_names() Method

In [74]:
mac = pd.read_csv("D:/python/Data Analysis with Python/#Udemy/Pandas/bigmac.csv", parse_dates = ["Date"], index_col=["Date", "Country"])
mac.sort_index(inplace = True)
mac.head()

                      Price in US Dollars
Date       Country
2010-01-01 Argentina                 1.84
           Australia                 3.98
           Brazil                    4.76
           Britain                   3.67
           Canada                    3.97

In [78]:
mac.index.set_names(["Day", "Location"], inplace = True) 
#changing the level names or changing the index column name

In [79]:
mac.head()

                      Price in US Dollars
Day        Location
2010-01-01 Argentina                 1.84
           Australia                 3.98
           Brazil                    4.76
           Britain                   3.67
           Canada                    3.97

In [87]:
mac.sort_index(ascending =[True, False]).head() #ascending[true/false for all the indexes]

                          Price in US Dollars
Day        Location
2010-01-01 Uruguay                       3.32
           United States                 3.58
           Ukraine                       1.83
           UAE                           2.99
           Turkey                        3.83

In [89]:
mac.sortlevel() #sortlevel is deprecated

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: FutureWarning: sortlevel is deprecated, use sort_index(level= ...)
  """Entry point for launching an IPython kernel.

                           Price in US Dollars
Day        Location
2010-01-01 Argentina                      1.84
           Australia                      3.98
           Brazil                         4.76
           Britain                        3.67
           Canada                         3.97
           Chile                          3.18
           China                          1.83
           Colombia                       3.91
           Costa Rica                     3.52
           Czech Republic                 3.71
           Denmark                        5.99
           Egypt                          2.38
           Euro area                      4.84
           Hong Kong                      1.91
           Hungary                        3.86
           Indonesia                      2.24
           Israel                         3.99
           Japan                          3.50
           Latvia                         3.09
           Lithuania                      2.87
           Malaysia                       2.08
           Mexico                         2.50
           New Zealand                    3.61
           Norway                         7.02
           Pakistan                       2.42
           Peru                           2.81
           Philippines                    2.21
           Poland                         2.86
           Russia                         2.34
           Saudi Arabia                   2.67
...                                        ...
2016-01-01 Italy                          4.30
           Japan                          3.12
           Malaysia                       1.82
           Mexico                         2.81
           Netherlands                    3.71
           New Zealand                    3.91
           Norway                         5.21
           Pakistan                       2.86
           Peru                           2.93
           Philippines                    2.79
           Poland                         2.37
           Portugal                       3.23
           Russia                         1.53
           Saudi Arabia                   3.20
           Singapore                      3.27
           South Africa                   1.77
           South Korea                    3.59
           Spain                          3.76
           Sri Lanka                      2.43
           Sweden                         5.23
           Switzerland                    6.44
           Taiwan                         2.08
           Thailand                       3.09
           Turkey                         3.41
           UAE                            3.54
           Ukraine                        1.54
           United States                  4.93
           Uruguay                        3.74
           Venezuela                      0.66
           Vietnam                        2.67

[652 rows x 1 columns]

In [100]:
mac.loc[("2010-01-01", "UAE"), 
        "Price in US Dollars"] #should pass a tuple and not a list !tups here has the index

Day         Location
2010-01-01  UAE         2.99
Name: Price in US Dollars, dtype: float64

In [101]:
mac.loc[("2010-01-01", "Turkey"), 
        "Price in US Dollars"] #should pass a tuple and not a list !tups here has the index

Day         Location
2010-01-01  Turkey      3.83
Name: Price in US Dollars, dtype: float64

# The .transpose() Method and MultiIndex on Column Level

In [106]:
mac = mac.transpose()
mac.head()

Day                 2010-01-01                                              \
Location             Argentina Australia Brazil Britain Canada Chile China
Price in US Dollars       1.84      3.98   4.76    3.67   3.97  3.18  1.83

Day                                                      ...    2016-01-01  \
Location            Colombia Costa Rica Czech Republic   ...   Switzerland
Price in US Dollars     3.91       3.52           3.71   ...          6.44

Day                                                                     \
Location            Taiwan Thailand Turkey   UAE Ukraine United States
Price in US Dollars   2.08     3.09   3.41  3.54    1.54          4.93

Day
Location            Uruguay Venezuela Vietnam
Price in US Dollars    3.74      0.66    2.67

[1 rows x 652 columns]

In [111]:
mac.loc["Price in US Dollars", ("2010-01-01", "China")]

Day         Location
2010-01-01  China       1.83
Name: Price in US Dollars, dtype: float64

# The .swaplevel() Method

In [112]:
mac = pd.read_csv("D:/python/Data Analysis with Python/#Udemy/Pandas/bigmac.csv", parse_dates = ["Date"], index_col=["Date", "Country"])
mac.sort_index(inplace = True)
mac.head()

                      Price in US Dollars
Date       Country
2010-01-01 Argentina                 1.84
           Australia                 3.98
           Brazil                    4.76
           Britain                   3.67
           Canada                    3.97

In [115]:
mac = mac.swaplevel() #swaps the index pos

In [116]:
mac.head()

                      Price in US Dollars
Country   Date
Argentina 2010-01-01                 1.84
Australia 2010-01-01                 3.98
Brazil    2010-01-01                 4.76
Britain   2010-01-01                 3.67
Canada    2010-01-01                 3.97

# The .stack() Method

#### Stack the prescribed level(s) from columns to index.

Return a reshaped DataFrame or Series having a multi-level index with one or more new inner-most levels compared to the current DataFrame. The new inner-most levels are created by pivoting the columns of the current dataframe:

if the columns have a single level, the output is a Series;
if the columns have multiple levels, the new index level(s) is (are) taken from the prescribed level(s) and the output is a DataFrame.

In [200]:
stats = pd.read_csv("D:/python/Data Analysis with Python/#Udemy/Pandas/worldstats.csv")
stats.head()

      country  year   Population           GDP
0  Arab World  2015  392022276.0  2.530102e+12
1  Arab World  2014  384222592.0  2.873600e+12
2  Arab World  2013  376504253.0  2.846994e+12
3  Arab World  2012  368802611.0  2.773270e+12
4  Arab World  2011  361031820.0  2.497945e+12

In [153]:
stats.info()

<class 'pandas.core.frame.DataFrame'>
MultiIndex: 11211 entries, (Arab World, 2015) to (Zimbabwe, 1960)
Data columns (total 2 columns):
Population    11211 non-null float64
GDP           11211 non-null float64
dtypes: float64(2)
memory usage: 210.5+ KB

In [154]:
stats.index.get_level_values(0).nunique()

252

In [161]:
staty = stats.stack().to_frame()

In [160]:
staty.loc[("Arab World", 2011)]

C:\ProgramData\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: PerformanceWarning: indexing past lexsort depth may impact performance.
  """Entry point for launching an IPython kernel.

                       0
Population  3.610318e+08
GDP         2.497945e+12

# The .unstack() Method, Part 1

In [159]:
staty.head()

                                       0
country    year
Arab World 2015 Population  3.920223e+08
                GDP         2.530102e+12
           2014 Population  3.842226e+08
                GDP         2.873600e+12
           2013 Population  3.765043e+08

In [173]:
staty.unstack(level = 2).head() #0/1/2

                          0
                 Population           GDP
country     year
Afghanistan 1960  8994793.0  5.377778e+08
            1961  9164945.0  5.488889e+08
            1962  9343772.0  5.466667e+08
            1963  9531555.0  7.511112e+08
            1964  9728645.0  8.000000e+08

In [175]:
staty.unstack("year")

                                             0                              \
year                                      1960          1961          1962
country
Afghanistan           Population  8.994793e+06  9.164945e+06  9.343772e+06
                      GDP         5.377778e+08  5.488889e+08  5.466667e+08
Albania               Population           NaN           NaN           NaN
                      GDP                  NaN           NaN           NaN
Algeria               Population  1.112489e+07  1.140486e+07  1.169015e+07
                      GDP         2.723638e+09  2.434767e+09  2.001461e+09
Andorra               Population           NaN           NaN           NaN
                      GDP                  NaN           NaN           NaN
Angola                Population           NaN           NaN           NaN
                      GDP                  NaN           NaN           NaN
Antigua and Barbuda   Population           NaN           NaN           NaN
                      GDP                  NaN           NaN           NaN
Arab World            Population           NaN           NaN           NaN
                      GDP                  NaN           NaN           NaN
Argentina             Population           NaN           NaN  2.128768e+07
                      GDP                  NaN           NaN  2.445060e+10
Armenia               Population           NaN           NaN           NaN
                      GDP                  NaN           NaN           NaN
Aruba                 Population           NaN           NaN           NaN
                      GDP                  NaN           NaN           NaN
Australia             Population  1.027648e+07  1.048300e+07  1.074200e+07
                      GDP         1.856759e+10  1.963938e+10  1.988353e+10
Austria               Population  7.047539e+06  7.086299e+06  7.129864e+06
                      GDP         6.592694e+09  7.311750e+09  7.756110e+09
Azerbaijan            Population           NaN           NaN           NaN
                      GDP                  NaN           NaN           NaN
Bahamas, The          Population  1.095260e+05  1.151080e+05  1.210830e+05
                      GDP         1.698023e+08  1.900962e+08  2.122528e+08
Bahrain               Population           NaN           NaN           NaN
                      GDP                  NaN           NaN           NaN
...                                        ...           ...           ...
United Arab Emirates  Population           NaN           NaN           NaN
                      GDP                  NaN           NaN           NaN
United Kingdom        Population  5.240000e+07  5.280000e+07  5.325000e+07
                      GDP         7.232805e+10  7.669436e+10  8.060194e+10
United States         Population  1.806710e+08  1.836910e+08  1.865380e+08
                      GDP         5.433000e+11  5.633000e+11  6.051000e+11
Upper middle income   Population  1.154592e+09  1.159145e+09  1.176093e+09
                      GDP         1.854612e+11  1.690732e+11  1.777957e+11
Uruguay               Population  2.538651e+06  2.571691e+06  2.603887e+06
                      GDP         1.242289e+09  1.547389e+09  1.710004e+09
Uzbekistan            Population           NaN           NaN           NaN
                      GDP                  NaN           NaN           NaN
Vanuatu               Population           NaN           NaN           NaN
                      GDP                  NaN           NaN           NaN
Venezuela, RB         Population  8.146845e+06  8.461684e+06  8.790590e+06
                      GDP         8.607600e+09  8.923367e+09  9.873398e+09
Vietnam               Population           NaN           NaN           NaN
                      GDP                  NaN           NaN           NaN
Virgin Islands (U.S.) Population  3.200000e+04  3.410000e+04  3.630000e+04
                      GDP         2.420000e+07  2.570000e+07  3.690000e+07
West Bank and Gaza    Population           NaN           NaN           NaN
                      GDP                  NaN           NaN           NaN
World                 Population  3.035056e+09  3.076121e+09  3.129064e+09
                      GDP         1.364643e+12  1.420440e+12  1.524573e+12
Yemen, Rep.           Population           NaN           NaN           NaN
                      GDP                  NaN           NaN           NaN
Zambia                Population  3.049586e+06  3.142848e+06  3.240664e+06
                      GDP         6.987397e+08  6.823597e+08  6.792797e+08
Zimbabwe              Population  3.752390e+06  3.876638e+06  4.006262e+06
                      GDP         1.052990e+09  1.096647e+09  1.117602e+09

                                                                            \
year                                      1963          1964          1965
country
Afghanistan           Population  9.531555e+06  9.728645e+06  9.935358e+06
                      GDP         7.511112e+08  8.000000e+08  1.006667e+09
Albania               Population           NaN           NaN           NaN
                      GDP                  NaN           NaN           NaN
Algeria               Population  1.198513e+07  1.229597e+07  1.262695e+07
                      GDP         2.703004e+09  2.909340e+09  3.136284e+09
Andorra               Population           NaN           NaN           NaN
                      GDP                  NaN           NaN           NaN
Angola                Population           NaN           NaN           NaN
                      GDP                  NaN           NaN           NaN
Antigua and Barbuda   Population           NaN           NaN           NaN
                      GDP                  NaN           NaN           NaN
Arab World            Population           NaN           NaN           NaN
                      GDP                  NaN           NaN           NaN
Argentina             Population  2.162184e+07  2.195393e+07  2.228339e+07
                      GDP         1.827212e+10  2.560525e+10  2.834471e+10
Armenia               Population           NaN           NaN           NaN
                      GDP                  NaN           NaN           NaN
Aruba                 Population           NaN           NaN           NaN
                      GDP                  NaN           NaN           NaN
Australia             Population  1.095000e+07  1.116700e+07  1.138800e+07
                      GDP         2.149737e+10  2.375406e+10  2.592564e+10
Austria               Population  7.175811e+06  7.223801e+06  7.270889e+06
                      GDP         8.374175e+09  9.169984e+09  9.994071e+09
Azerbaijan            Population           NaN           NaN           NaN
                      GDP                  NaN           NaN           NaN
Bahamas, The          Population  1.273310e+05  1.336970e+05  1.400490e+05
                      GDP         2.377428e+08  2.666641e+08  3.003922e+08
Bahrain               Population           NaN           NaN           NaN
                      GDP                  NaN           NaN           NaN
...                                        ...           ...           ...
United Arab Emirates  Population           NaN           NaN           NaN
                      GDP                  NaN           NaN           NaN
United Kingdom        Population  5.365000e+07  5.400000e+07  5.434805e+07
                      GDP         8.544377e+10  9.338760e+10  1.005958e+11
United States         Population  1.892420e+08  1.918890e+08  1.943030e+08
                      GDP         6.386000e+11  6.858000e+11  7.437000e+11
Upper middle income   Population  1.204372e+09  1.232266e+09  1.261069e+09
                      GDP         1.955819e+11  2.144250e+11  2.397244e+11
Uruguay               Population  2.635128e+06  2.665387e+06  2.694535e+06
                      GDP         1.539682e+09  1.975702e+09  1.890769e+09
Uzbekistan            Population           NaN           NaN           NaN
                      GDP                  NaN           NaN           NaN
Vanuatu               Population           NaN           NaN           NaN
                      GDP                  NaN           NaN           NaN
Venezuela, RB         Population  9.130346e+06  9.476255e+06  9.824694e+06
                      GDP         1.066338e+10  9.113581e+09  9.602945e+09
Vietnam               Population           NaN           NaN           NaN
                      GDP                  NaN           NaN           NaN
Virgin Islands (U.S.) Population  3.870000e+04  4.130000e+04  4.400000e+04
                      GDP         4.140000e+07  5.380000e+07  6.650000e+07
West Bank and Gaza    Population           NaN           NaN           NaN
                      GDP                  NaN           NaN           NaN
World                 Population  3.193947e+09  3.259355e+09  3.326054e+09
                      GDP         1.638187e+12  1.799675e+12  1.959900e+12
Yemen, Rep.           Population           NaN           NaN           NaN
                      GDP                  NaN           NaN           NaN
Zambia                Population  3.342894e+06  3.449266e+06  3.559687e+06
                      GDP         7.043397e+08  8.226397e+08  1.061200e+09
Zimbabwe              Population  4.140804e+06  4.279561e+06  4.422132e+06
                      GDP         1.159512e+09  1.217138e+09  1.311436e+09

                                                                            \
year                                      1966          1967          1968
country
Afghanistan           Population  1.014884e+07  1.036860e+07  1.059979e+07
                      GDP         1.400000e+09  1.673333e+09  1.373333e+09
Albania               Population           NaN           NaN           NaN
                      GDP                  NaN           NaN           NaN
Algeria               Population  1.298027e+07  1.335420e+07  1.374438e+07
                      GDP         3.039859e+09  3.370870e+09  3.852147e+09
Andorra               Population           NaN           NaN           NaN
                      GDP                  NaN           NaN           NaN
Angola                Population           NaN           NaN           NaN
                      GDP                  NaN           NaN           NaN
Antigua and Barbuda   Population           NaN           NaN           NaN
                      GDP                  NaN           NaN           NaN
Arab World            Population           NaN           NaN  1.155571e+08
                      GDP                  NaN           NaN  2.552596e+10
Argentina             Population  2.260875e+07  2.293220e+07  2.326127e+07
                      GDP         2.863047e+10  2.425667e+10  2.643686e+10
Armenia               Population           NaN           NaN           NaN
                      GDP                  NaN           NaN           NaN
Aruba                 Population           NaN           NaN           NaN
                      GDP                  NaN           NaN           NaN
Australia             Population  1.165100e+07  1.179900e+07  1.200900e+07
                      GDP         2.725053e+10  3.037854e+10  3.264195e+10
Austria               Population  7.322066e+06  7.376998e+06  7.415403e+06
                      GDP         1.088768e+10  1.157943e+10  1.244063e+10
Azerbaijan            Population           NaN           NaN           NaN
                      GDP                  NaN           NaN           NaN
Bahamas, The          Population  1.463640e+05  1.526070e+05  1.586290e+05
                      GDP         3.400000e+08  3.901961e+08  4.449020e+08
Bahrain               Population           NaN           NaN           NaN
                      GDP                  NaN           NaN           NaN
...                                        ...           ...           ...
United Arab Emirates  Population           NaN           NaN           NaN
                      GDP                  NaN           NaN           NaN
United Kingdom        Population  5.464850e+07  5.494360e+07  5.521170e+07
                      GDP         1.070907e+11  1.111854e+11  1.047027e+11
United States         Population  1.965600e+08  1.987120e+08  2.007060e+08
                      GDP         8.150000e+11  8.617000e+11  9.425000e+11
Upper middle income   Population  1.292755e+09  1.323615e+09  1.355381e+09
                      GDP         2.666625e+11  2.766866e+11  2.898954e+11
Uruguay               Population  2.722874e+06  2.750093e+06  2.774771e+06
                      GDP         1.809184e+09  1.597721e+09  1.593675e+09
Uzbekistan            Population           NaN           NaN           NaN
                      GDP                  NaN           NaN           NaN
Vanuatu               Population           NaN           NaN           NaN
                      GDP                  NaN           NaN           NaN
Venezuela, RB         Population  1.017514e+07  1.052805e+07  1.088200e+07
                      GDP         1.009657e+10  1.047278e+10  1.147091e+10
Vietnam               Population           NaN           NaN           NaN
                      GDP                  NaN           NaN           NaN
Virgin Islands (U.S.) Population  4.730000e+04  5.080000e+04  5.460000e+04
                      GDP         8.410000e+07  1.154000e+08  1.738000e+08
West Bank and Gaza    Population           NaN           NaN           NaN
                      GDP                  NaN           NaN           NaN
World                 Population  3.395866e+09  3.465297e+09  3.535512e+09
                      GDP         2.125397e+12  2.262923e+12  2.440549e+12
Yemen, Rep.           Population           NaN           NaN           NaN
                      GDP                  NaN           NaN           NaN
Zambia                Population  3.674088e+06  3.792864e+06  3.916928e+06
                      GDP         1.239000e+09  1.340639e+09  1.573739e+09
Zimbabwe              Population  4.568320e+06  4.718612e+06  4.874113e+06
                      GDP         1.281750e+09  1.397002e+09  1.479600e+09

                                                    ...                     \
year                                      1969      ...               2006
country                                             ...
Afghanistan           Population  1.084951e+07      ...       2.518362e+07
                      GDP         1.408889e+09      ...       7.057598e+09
Albania               Population           NaN      ...       2.992547e+06
                      GDP                  NaN      ...       8.992642e+09
Algeria               Population  1.414444e+07      ...       3.374933e+07
                      GDP         4.257253e+09      ...       1.170273e+11
Andorra               Population           NaN      ...       8.337300e+04
                      GDP                  NaN      ...       3.536452e+09
Angola                Population           NaN      ...       1.854147e+07
                      GDP                  NaN      ...       4.178948e+10
Antigua and Barbuda   Population           NaN      ...       8.346700e+04
                      GDP                  NaN      ...       1.135144e+09
Arab World            Population  1.188239e+08      ...       3.209067e+08
                      GDP         2.817577e+10      ...       1.404190e+12
Argentina             Population  2.360599e+07      ...       3.955875e+07
                      GDP         3.125628e+10      ...       2.626665e+11
Armenia               Population           NaN      ...       3.002161e+06
                      GDP                  NaN      ...       6.384452e+09
Aruba                 Population           NaN      ...       1.008300e+05
                      GDP                  NaN      ...       2.421475e+09
Australia             Population  1.226300e+07      ...       2.069790e+07
                      GDP         3.660656e+10      ...       7.468808e+11
Austria               Population  7.441055e+06      ...       8.268641e+06
                      GDP         1.358280e+10      ...       3.343094e+11
Azerbaijan            Population           NaN      ...       8.484550e+06
                      GDP                  NaN      ...       2.098302e+10
Bahamas, The          Population  1.642500e+05      ...       3.358010e+05
                      GDP         5.281373e+08      ...       7.965588e+09
Bahrain               Population           NaN      ...       9.408080e+05
                      GDP                  NaN      ...       1.850505e+10
...                                        ...      ...                ...
United Arab Emirates  Population           NaN      ...       5.171255e+06
                      GDP                  NaN      ...       2.221059e+11
United Kingdom        Population  5.544175e+07      ...       6.084682e+07
                      GDP         1.126769e+11      ...       2.588077e+12
United States         Population  2.026770e+08      ...       2.983799e+08
                      GDP         1.019900e+12      ...       1.385589e+13
Upper middle income   Population  1.388827e+09      ...       2.380136e+09
                      GDP         3.221882e+11      ...       8.620784e+12
Uruguay               Population  2.795044e+06      ...       3.331041e+06
                      GDP         2.004435e+09      ...       1.957946e+10
Uzbekistan            Population           NaN      ...       2.648825e+07
                      GDP                  NaN      ...       1.703090e+10
Vanuatu               Population           NaN      ...       2.146350e+05
                      GDP                  NaN      ...       4.393768e+08
Venezuela, RB         Population  1.123549e+07      ...       2.722123e+07
                      GDP         1.192757e+10      ...       1.834775e+11
Vietnam               Population           NaN      ...       8.331120e+07
                      GDP                  NaN      ...       6.637166e+10
Virgin Islands (U.S.) Population  5.860000e+04      ...                NaN
                      GDP         2.113000e+08      ...                NaN
West Bank and Gaza    Population           NaN      ...       3.406334e+06
                      GDP                  NaN      ...       4.910100e+09
World                 Population  3.609910e+09      ...       6.594722e+09
                      GDP         2.686747e+12      ...       5.107451e+13
Yemen, Rep.           Population           NaN      ...       2.109397e+07
                      GDP                  NaN      ...       1.908173e+10
Zambia                Population  4.047479e+06      ...       1.238151e+07
                      GDP         1.926399e+09      ...       1.275686e+10
Zimbabwe              Population  5.036321e+06      ...       1.312794e+07
                      GDP         1.747999e+09      ...       5.443896e+09

                                                                            \
year                                      2007          2008          2009
country
Afghanistan           Population  2.587754e+07  2.652874e+07  2.720729e+07
                      GDP         9.843842e+09  1.019053e+10  1.248694e+10
Albania               Population  2.970017e+06  2.947314e+06  2.927519e+06
                      GDP         1.070101e+10  1.288135e+10  1.204421e+10
Algeria               Population  3.426197e+07  3.481106e+07  3.540179e+07
                      GDP         1.349771e+11  1.710007e+11  1.372110e+11
Andorra               Population  8.487800e+04  8.561600e+04  8.547400e+04
                      GDP         4.010785e+09  4.001349e+09  3.649863e+09
Angola                Population  1.918391e+07  1.984225e+07  2.052010e+07
                      GDP         6.044892e+10  8.417803e+10  7.549238e+10
Antigua and Barbuda   Population  8.439700e+04  8.535000e+04  8.630000e+04

In [180]:
staty.unstack([1, 2])

                                   0                              \
year                            2015                        2014
                          Population           GDP    Population
country
Afghanistan             3.252656e+07  1.919944e+10  3.162751e+07
Albania                 2.889167e+06  1.145560e+10  2.893654e+06
Algeria                 3.966652e+07  1.668386e+11  3.893433e+07
Andorra                          NaN           NaN           NaN
Angola                  2.502197e+07  1.026431e+11  2.422752e+07
Antigua and Barbuda     9.181800e+04  1.297285e+09  9.090000e+04
Arab World              3.920223e+08  2.530102e+12  3.842226e+08
Argentina                        NaN           NaN  4.298003e+07
Armenia                 3.017712e+06  1.056140e+10  3.006154e+06
Aruba                            NaN           NaN           NaN
Australia               2.378117e+07  1.339539e+12  2.346409e+07
Austria                 8.611088e+06  3.740559e+11  8.541575e+06
Azerbaijan              9.651349e+06  5.304714e+10  9.535079e+06
Bahamas, The            3.880190e+05  8.884441e+09  3.830540e+05
Bahrain                 1.377237e+06  3.222149e+10  1.361930e+06
Bangladesh              1.609956e+08  1.950787e+11  1.590775e+08
Barbados                2.842150e+05  4.451000e+09  2.833800e+05
Belarus                 9.513000e+06  5.460896e+10  9.483000e+06
Belgium                 1.128572e+07  4.540390e+11  1.123121e+07
Belize                  3.592870e+05  1.763000e+09  3.517060e+05
Benin                   1.087983e+07  8.476125e+09  1.059848e+07
Bermuda                          NaN           NaN           NaN
Bhutan                  7.748300e+05  1.962222e+09  7.650080e+05
Bolivia                 1.072470e+07  3.319682e+10  1.056189e+07
Bosnia and Herzegovina  3.810416e+06  1.599539e+10  3.817554e+06
Botswana                2.262485e+06  1.439086e+10  2.219937e+06
Brazil                  2.078475e+08  1.774725e+12  2.060779e+08
Brunei Darussalam       4.231880e+05  1.549204e+10  4.173940e+05
Bulgaria                7.177991e+06  4.895296e+10  7.223938e+06
Burkina Faso            1.810557e+07  1.109947e+10  1.758920e+07
...                              ...           ...           ...
Switzerland             8.286976e+06  6.647375e+11  8.188649e+06
Syrian Arab Republic             NaN           NaN           NaN
Tajikistan              8.481855e+06  7.853450e+09  8.295840e+06
Tanzania                5.347042e+07  4.489539e+10  5.182262e+07
Thailand                6.795936e+07  3.952816e+11  6.772598e+07
Timor-Leste             1.245015e+06  1.412378e+09  1.212107e+06
Togo                    7.304578e+06  4.002724e+09  7.115163e+06
Tonga                            NaN           NaN  1.055860e+05
Trinidad and Tobago     1.360088e+06  2.780575e+10  1.354483e+06
Tunisia                 1.110780e+07  4.301509e+10  1.099660e+07
Turkey                  7.866583e+07  7.182211e+11  7.752379e+07
Turkmenistan            5.373502e+06  3.733423e+10  5.307188e+06
Tuvalu                           NaN           NaN  9.893000e+03
Uganda                  3.903238e+07  2.636924e+10  3.778297e+07
Ukraine                 4.519820e+07  9.061502e+10  4.536290e+07
United Arab Emirates    9.156963e+06  3.702927e+11  9.086139e+06
United Kingdom          6.513823e+07  2.848755e+12  6.461316e+07
United States           3.214188e+08  1.794700e+13  3.189074e+08
Upper middle income     2.550326e+09  1.973288e+13  2.530632e+09
Uruguay                 3.431555e+06  5.344270e+10  3.419516e+06
Uzbekistan              3.129950e+07  6.673280e+10  3.075770e+07
Vanuatu                          NaN           NaN  2.588830e+05
Venezuela, RB                    NaN           NaN           NaN
Vietnam                 9.170380e+07  1.935994e+11  9.072890e+07
Virgin Islands (U.S.)            NaN           NaN           NaN
West Bank and Gaza      4.422143e+06  1.267740e+10  4.294682e+06
World                   7.346633e+09  7.343364e+13  7.260780e+09
Yemen, Rep.                      NaN           NaN           NaN
Zambia                  1.621177e+07  2.120156e+10  1.572134e+07
Zimbabwe                1.560275e+07  1.389294e+10  1.524586e+07

                                                                  \
year                                          2013
                                 GDP    Population           GDP
country
Afghanistan             2.005019e+10  3.068250e+07  2.004633e+10
Albania                 1.327796e+10  2.896652e+06  1.278103e+10
Algeria                 2.135185e+11  3.818614e+07  2.097035e+11
Andorra                          NaN  7.590200e+04  3.249101e+09
Angola                  1.267751e+11  2.344820e+07  1.249121e+11
Antigua and Barbuda     1.220976e+09  8.998500e+04  1.200588e+09
Arab World              2.873600e+12  3.765043e+08  2.846994e+12
Argentina               5.480549e+11  4.253830e+07  6.239320e+11
Armenia                 1.164444e+10  2.992192e+06  1.112147e+10
Aruba                            NaN           NaN           NaN
Australia               1.454675e+12  2.311735e+07  1.563951e+12
Austria                 4.368875e+11  8.479375e+06  4.286986e+11
Azerbaijan              7.519801e+10  9.416801e+06  7.356048e+10
Bahamas, The            8.510500e+09  3.778410e+05  8.431750e+09
Bahrain                 3.385106e+10  1.349427e+06  3.289761e+10
Bangladesh              1.728855e+11  1.571574e+08  1.499905e+11
Barbados                4.354500e+09  2.825030e+05  4.281000e+09
Belarus                 7.610396e+10  9.466000e+06  7.309762e+10
Belgium                 5.312348e+11  1.118282e+07  5.213705e+11
Belize                  1.717862e+09  3.441930e+05  1.625828e+09
Benin                   9.575357e+09  1.032223e+07  9.110801e+09
Bermuda                          NaN  6.500100e+04  5.573710e+09
Bhutan                  1.958820e+09  7.546370e+05  1.798334e+09
Bolivia                 3.299619e+10  1.039993e+07  3.065934e+10
Bosnia and Herzegovina  1.852148e+10  3.823533e+06  1.815429e+10
Botswana                1.588020e+10  2.176510e+06  1.481480e+10
Brazil                  2.417046e+12  2.042594e+08  2.465774e+12
Brunei Darussalam       1.710466e+10  4.114990e+05  1.611069e+10
Bulgaria                5.671705e+10  7.265115e+06  5.562636e+10
Burkina Faso            1.254913e+10  1.708455e+07  1.211417e+10
...                              ...           ...           ...
Switzerland             7.010371e+11  8.089346e+06  6.849192e+11
Syrian Arab Republic             NaN           NaN           NaN
Tajikistan              9.236309e+09  8.111894e+06  8.506675e+09
Tanzania                4.803040e+10  5.021346e+07  4.433346e+10
Thailand                4.043200e+11  6.745142e+07  4.198886e+11
Timor-Leste             1.371173e+09  1.180069e+06  1.319000e+09
Togo                    4.482536e+09  6.928719e+06  4.081113e+09
Tonga                   4.343863e+08  1.051390e+05  4.328900e+08
Trinidad and Tobago     2.887412e+10  1.348240e+06  2.725741e+10
Tunisia                 4.760323e+10  1.088650e+07  4.625555e+10
Turkey                  7.987973e+11  7.622364e+07  8.232426e+11
Turkmenistan            4.348561e+10  5.240088e+06  3.919754e+10
Tuvalu                  3.785955e+07  9.876000e+03  3.832077e+07
Uganda                  2.699848e+10  3.657339e+07  2.466296e+10
Ukraine                 1.318051e+11  4.548960e+07  1.813344e+11
United Arab Emirates    3.994513e+11  9.039978e+06  3.871921e+11
United Kingdom          2.990201e+12  6.412823e+07  2.712296e+12
United States           1.734807e+13  3.164274e+08  1.666316e+13
Upper middle income     2.133305e+13  2.510573e+09  2.080729e+13
Uruguay                 5.723577e+10  3.407969e+06  5.753123e+10
Uzbekistan              6.313285e+10  3.024320e+07  5.679566e+10
Vanuatu                 8.149546e+08  2.531650e+05  8.017876e+08
Venezuela, RB                    NaN  3.027604e+07  3.713366e+11
Vietnam                 1.862047e+11  8.975950e+07  1.712220e+11
Virgin Islands (U.S.)            NaN           NaN           NaN
West Bank and Gaza      1.271560e+10  4.169506e+06  1.247600e+10
World                   7.810634e+13  7.176092e+09  7.643132e+13
Yemen, Rep.                      NaN  2.553322e+07  3.595450e+10
Zambia                  2.713464e+10  1.524609e+07  2.804552e+10
Zimbabwe                1.419691e+10  1.489809e+07  1.349023e+10

                                                                  \
year                            2012                        2011
                          Population           GDP    Population
country
Afghanistan             2.972680e+07  2.053654e+10  2.880917e+07
Albania                 2.900247e+06  1.231978e+10  2.904780e+06
Algeria                 3.743943e+07  2.090474e+11  3.671713e+07
Andorra                 7.931600e+04  3.146178e+09  8.232600e+04
Angola                  2.268563e+07  1.153984e+11  2.194230e+07
Antigua and Barbuda     8.906900e+04  1.204713e+09  8.815200e+04
Arab World              3.688026e+08  2.773270e+12  3.610318e+08
Argentina               4.209522e+07  6.043785e+11  4.165562e+07
Armenia                 2.978339e+06  1.061932e+10  2.967984e+06
Aruba                            NaN           NaN  1.019360e+05
Australia               2.272825e+07  1.537478e+12  2.234002e+07
Austria                 8.429991e+06  4.073730e+11  8.391643e+06
Azerbaijan              9.295784e+06  6.873091e+10  9.173082e+06
Bahamas, The            3.723880e+05  8.234470e+09  3.667110e+05
Bahrain                 1.333577e+06  3.075646e+10  1.306014e+06
Bangladesh              1.552574e+08  1.333557e+11  1.534056e+08
Barbados                2.815800e+05  4.313000e+09  2.806020e+05
Belarus                 9.464000e+06  6.361545e+10  9.473000e+06
Belgium                 1.112825e+07  4.978160e+11  1.104774e+07
Belize                  3.367070e+05  1.573619e+09  3.291930e+05
Benin                   1.004979e+07  8.117101e+09  9.779391e+06
Bermuda                 6.479800e+04  5.537537e+09  6.456400e+04
Bhutan                  7.437110e+05  1.823692e+09  7.322460e+05
Bolivia                 1.023876e+07  2.708450e+10  1.007824e+07
Bosnia and Herzegovina  3.828419e+06  1.720737e+10  3.832310e+06
Botswana                2.132822e+06  1.468625e+10  2.089706e+06
Brazil                  2.024016e+08  2.460658e+12  2.005176e+08
Brunei Darussalam       4.055120e+05  1.695351e+10  3.994430e+05
Bulgaria                7.305888e+06  5.357667e+10  7.348328e+06
Burkina Faso            1.659081e+07  1.116606e+10  1.610685e+07
...                              ...           ...           ...
Switzerland             7.996861e+06  6.654083e+11  7.912398e+06
Syrian Arab Republic             NaN           NaN           NaN
Tajikistan              7.930929e+06  7.633036e+09  7.753925e+06
Tanzania                4.864571e+07  3.908775e+10  4.712300e+07
Thailand                6.716413e+07  3.972907e+11  6.690296e+07
Timor-Leste             1.148958e+06  1.295000e+09  1.120392e+06
Togo                    6.745581e+06  3.866617e+09  6.566179e+06
Tonga                   1.047690e+05  4.572443e+08  1.043920e+05
Trinidad and Tobago     1.341579e+06  2.458084e+10  1.334790e+06
Tunisia                 1.077750e+07  4.504418e+10  1.067380e+07
Turkey                  7.484919e+07  7.888633e+11  7.351700e+07
Turkmenistan            5.172941e+06  3.516421e+10  5.106672e+06
Tuvalu                  9.860000e+03  3.987575e+07  9.844000e+03
Uganda                  3.540062e+07  2.323690e+10  3.426034e+07
Ukraine                 4.559330e+07  1.757814e+11  4.570610e+07
United Arab Emirates    8.952542e+06  3.734295e+11  8.734722e+06
United Kingdom          6.370030e+07  2.630473e+12  6.325892e+07
United States           3.141026e+08  1.615526e+13  3.117189e+08
Upper middle income     2.490586e+09  1.955543e+13  2.470971e+09
Uruguay                 3.396753e+06  5.126540e+10  3.385610e+06
Uzbekistan              2.977450e+07  5.118344e+10  2.933940e+07
Vanuatu                 2.474980e+05  7.817029e+08  2.418760e+05
Venezuela, RB           2.985424e+07  3.812862e+11  2.942763e+07
Vietnam                 8.880920e+07  1.558200e+11  8.786030e+07
Virgin Islands (U.S.)            NaN           NaN           NaN
West Bank and Gaza      4.046901e+06  1.127940e+10  3.927051e+06
World                   7.089452e+09  7.442836e+13  7.006908e+09
Yemen, Rep.             2.488279e+07  3.207477e+10  2.423494e+07
Zambia                  1.478658e+07  2.550306e+10  1.434353e+07
Zimbabwe                1.456548e+07  1.239272e+10  1.425559e+07

                                          ...                     \
year                                      ...               1964
                                 GDP      ...         Population
country                                   ...
Afghanistan             1.793024e+10      ...       9.728645e+06
Albania                 1.289087e+10      ...                NaN
Algeria                 2.000131e+11      ...       1.229597e+07
Andorra                 3.427236e+09      ...                NaN
Angola                  1.041159e+11      ...                NaN
Antigua and Barbuda     1.129918e+09      ...                NaN
Arab World              2.497945e+12      ...                NaN
Argentina               5.578902e+11      ...       2.195393e+07
Armenia                 1.014211e+10      ...                NaN
Aruba                   2.584464e+09      ...                NaN
Australia               1.389919e+12      ...       1.116700e+07
Austria                 4.290107e+11      ...       7.223801e+06
Azerbaijan              6.595163e+10      ...                NaN
Bahamas, The            7.889750e+09      ...       1.336970e+05
Bahrain                 2.904407e+10      ...                NaN
Bangladesh              1.286379e+11      ...       5.412939e+07
Barbados                4.358000e+09      ...                NaN
Belarus                 5.973459e+10      ...                NaN
Belgium                 5.269753e+11      ...       9.378113e+06
Belize                  1.486712e+09      ...       1.030700e+05
Benin                   7.814081e+09      ...       2.586362e+06
Bermuda                 5.550771e+09      ...       4.890000e+04
Bhutan                  1.820208e+09      ...                NaN
Bolivia                 2.396303e+10      ...       3.990855e+06
Bosnia and Herzegovina  1.862802e+10      ...                NaN
Botswana                1.568293e+10      ...       5.795600e+05
Brazil                  2.614573e+12      ...       8.175180e+07
Brunei Darussalam       1.669153e+10      ...                NaN
Bulgaria                5.694984e+10      ...                NaN
Burkina Faso            1.072406e+10      ...       5.098892e+06
...                              ...      ...                ...
Switzerland             6.963117e+11      ...       5.789228e+06
Syrian Arab Republic             NaN      ...       5.224579e+06
Tajikistan              6.522756e+09      ...                NaN
Tanzania                3.387863e+10      ...                NaN
Thailand                3.706086e+11      ...       3.088133e+07
Timor-Leste             1.138000e+09      ...                NaN
Togo                    3.756023e+09      ...       1.662072e+06
Tonga                   4.412329e+08      ...                NaN
Trinidad and Tobago     2.440983e+10      ...       9.032720e+05
Tunisia                 4.581063e+10      ...                NaN
Turkey                  7.747542e+11      ...       3.029297e+07
Turkmenistan            2.923333e+10      ...                NaN
Tuvalu                  3.931202e+07      ...                NaN
Uganda                  2.026289e+10      ...       7.746181e+06
Ukraine                 1.631597e+11      ...                NaN
United Arab Emirates    3.485261e+11      ...                NaN
United Kingdom          2.594905e+12      ...       5.400000e+07
United States           1.551793e+13      ...       1.918890e+08
Upper middle income     1.829801e+13      ...       1.232266e+09
Uruguay                 4.796244e+10      ...       2.665387e+06
Uzbekistan              4.532432e+10      ...                NaN
Vanuatu                 7.921497e+08      ...                NaN
Venezuela, RB           3.164822e+11      ...       9.476255e+06
Vietnam                 1.355395e+11      ...                NaN
Virgin Islands (U.S.)            NaN      ...       4.130000e+04
West Bank and Gaza      1.045985e+10      ...                NaN
World                   7.284314e+13      ...       3.259355e+09
Yemen, Rep.             3.107886e+10      ...                NaN
Zambia                  2.345952e+10      ...       3.449266e+06
Zimbabwe                1.095623e+10      ...       4.279561e+06

                                                                  \
year                                          1963
                                 GDP    Population           GDP
country
Afghanistan             8.000000e+08  9.531555e+06  7.511112e+08
Albania                          NaN           NaN           NaN
Algeria                 2.909340e+09  1.198513e+07  2.703004e+09
Andorra                          NaN           NaN           NaN
Angola                           NaN           NaN           NaN
Antigua and Barbuda              NaN           NaN           NaN
Arab World                       NaN           NaN           NaN
Argentina               2.560525e+10  2.162184e+07  1.827212e+10
Armenia                          NaN           NaN           NaN
Aruba                            NaN           NaN           NaN
Australia               2.375406e+10  1.095000e+07  2.149737e+10
Austria                 9.169984e+09  7.175811e+06  8.374175e+09
Azerbaijan                       NaN           NaN           NaN
Bahamas, The            2.666641e+08  1.273310e+05  2.377428e+08
Bahrain                          NaN           NaN           NaN
Bangladesh              5.386055e+09  5.253260e+07  5.319458e+09
Barbados                         NaN           NaN           NaN
Belarus                          NaN           NaN           NaN
Belgium                 1.596011e+10  9.289770e+06  1.426002e+10
Belize                  3.619459e+07  1.001660e+05  3.375012e+07
Benin                   2.698190e+08  2.543335e+06  2.539277e+08
Bermuda                 1.075667e+08  4.770000e+04  9.636665e+07
Bhutan                           NaN           NaN           NaN
Bolivia                 8.125431e+08  3.913397e+06  7.211430e+08
Bosnia and Herzegovina           NaN           NaN           NaN
Botswana                4.161637e+07  5.643160e+05  3.809183e+07
Brazil                  2.121189e+10  7.936845e+07  2.302148e+10
Brunei Darussalam                NaN           NaN           NaN
Bulgaria                         NaN           NaN           NaN
Burkina Faso            4.103216e+08  5.027818e+06  3.940407e+08
...                              ...           ...           ...
Switzerland             1.448056e+10  5.694247e+06  1.306364e+10
Syrian Arab Republic    1.339494e+09  5.057825e+06  1.200447e+09
Tajikistan                       NaN           NaN           NaN
Tanzania                         NaN           NaN           NaN
Thailand                3.889130e+09  2.996704e+07  3.540403e+09
Timor-Leste                      NaN           NaN           NaN
Togo                    1.661041e+08  1.631763e+06  1.432558e+08
Tonga                            NaN           NaN           NaN
Trinidad and Tobago     7.118975e+08  8.925710e+05  6.782393e+08
Tunisia                          NaN           NaN           NaN
Turkey                  1.117778e+10  2.959705e+07  1.035556e+10
Turkmenistan                     NaN           NaN           NaN
Tuvalu                           NaN           NaN           NaN
Uganda                  5.892477e+08  7.487411e+06  5.163152e+08
Ukraine                          NaN           NaN           NaN
United Arab Emirates             NaN           NaN           NaN

In [182]:
staty.unstack("year", fill_value = 0) #fill nan with 0

                                             0                              \
year                                      1960          1961          1962
country
Afghanistan           Population  8.994793e+06  9.164945e+06  9.343772e+06
                      GDP         5.377778e+08  5.488889e+08  5.466667e+08
Albania               Population  0.000000e+00  0.000000e+00  0.000000e+00
                      GDP         0.000000e+00  0.000000e+00  0.000000e+00
Algeria               Population  1.112489e+07  1.140486e+07  1.169015e+07
                      GDP         2.723638e+09  2.434767e+09  2.001461e+09
Andorra               Population  0.000000e+00  0.000000e+00  0.000000e+00
                      GDP         0.000000e+00  0.000000e+00  0.000000e+00
Angola                Population  0.000000e+00  0.000000e+00  0.000000e+00
                      GDP         0.000000e+00  0.000000e+00  0.000000e+00
Antigua and Barbuda   Population  0.000000e+00  0.000000e+00  0.000000e+00
                      GDP         0.000000e+00  0.000000e+00  0.000000e+00
Arab World            Population  0.000000e+00  0.000000e+00  0.000000e+00
                      GDP         0.000000e+00  0.000000e+00  0.000000e+00
Argentina             Population  0.000000e+00  0.000000e+00  2.128768e+07
                      GDP         0.000000e+00  0.000000e+00  2.445060e+10
Armenia               Population  0.000000e+00  0.000000e+00  0.000000e+00
                      GDP         0.000000e+00  0.000000e+00  0.000000e+00
Aruba                 Population  0.000000e+00  0.000000e+00  0.000000e+00
                      GDP         0.000000e+00  0.000000e+00  0.000000e+00
Australia             Population  1.027648e+07  1.048300e+07  1.074200e+07
                      GDP         1.856759e+10  1.963938e+10  1.988353e+10
Austria               Population  7.047539e+06  7.086299e+06  7.129864e+06
                      GDP         6.592694e+09  7.311750e+09  7.756110e+09
Azerbaijan            Population  0.000000e+00  0.000000e+00  0.000000e+00
                      GDP         0.000000e+00  0.000000e+00  0.000000e+00
Bahamas, The          Population  1.095260e+05  1.151080e+05  1.210830e+05
                      GDP         1.698023e+08  1.900962e+08  2.122528e+08
Bahrain               Population  0.000000e+00  0.000000e+00  0.000000e+00
                      GDP         0.000000e+00  0.000000e+00  0.000000e+00
...                                        ...           ...           ...
United Arab Emirates  Population  0.000000e+00  0.000000e+00  0.000000e+00
                      GDP         0.000000e+00  0.000000e+00  0.000000e+00
United Kingdom        Population  5.240000e+07  5.280000e+07  5.325000e+07
                      GDP         7.232805e+10  7.669436e+10  8.060194e+10
United States         Population  1.806710e+08  1.836910e+08  1.865380e+08
                      GDP         5.433000e+11  5.633000e+11  6.051000e+11
Upper middle income   Population  1.154592e+09  1.159145e+09  1.176093e+09
                      GDP         1.854612e+11  1.690732e+11  1.777957e+11
Uruguay               Population  2.538651e+06  2.571691e+06  2.603887e+06
                      GDP         1.242289e+09  1.547389e+09  1.710004e+09
Uzbekistan            Population  0.000000e+00  0.000000e+00  0.000000e+00
                      GDP         0.000000e+00  0.000000e+00  0.000000e+00
Vanuatu               Population  0.000000e+00  0.000000e+00  0.000000e+00
                      GDP         0.000000e+00  0.000000e+00  0.000000e+00
Venezuela, RB         Population  8.146845e+06  8.461684e+06  8.790590e+06
                      GDP         8.607600e+09  8.923367e+09  9.873398e+09
Vietnam               Population  0.000000e+00  0.000000e+00  0.000000e+00
                      GDP         0.000000e+00  0.000000e+00  0.000000e+00
Virgin Islands (U.S.) Population  3.200000e+04  3.410000e+04  3.630000e+04
                      GDP         2.420000e+07  2.570000e+07  3.690000e+07
West Bank and Gaza    Population  0.000000e+00  0.000000e+00  0.000000e+00
                      GDP         0.000000e+00  0.000000e+00  0.000000e+00
World                 Population  3.035056e+09  3.076121e+09  3.129064e+09
                      GDP         1.364643e+12  1.420440e+12  1.524573e+12
Yemen, Rep.           Population  0.000000e+00  0.000000e+00  0.000000e+00
                      GDP         0.000000e+00  0.000000e+00  0.000000e+00
Zambia                Population  3.049586e+06  3.142848e+06  3.240664e+06
                      GDP         6.987397e+08  6.823597e+08  6.792797e+08
Zimbabwe              Population  3.752390e+06  3.876638e+06  4.006262e+06
                      GDP         1.052990e+09  1.096647e+09  1.117602e+09

                                                                            \
year                                      1963          1964          1965
country
Afghanistan           Population  9.531555e+06  9.728645e+06  9.935358e+06
                      GDP         7.511112e+08  8.000000e+08  1.006667e+09
Albania               Population  0.000000e+00  0.000000e+00  0.000000e+00
                      GDP         0.000000e+00  0.000000e+00  0.000000e+00
Algeria               Population  1.198513e+07  1.229597e+07  1.262695e+07
                      GDP         2.703004e+09  2.909340e+09  3.136284e+09
Andorra               Population  0.000000e+00  0.000000e+00  0.000000e+00
                      GDP         0.000000e+00  0.000000e+00  0.000000e+00
Angola                Population  0.000000e+00  0.000000e+00  0.000000e+00
                      GDP         0.000000e+00  0.000000e+00  0.000000e+00
Antigua and Barbuda   Population  0.000000e+00  0.000000e+00  0.000000e+00
                      GDP         0.000000e+00  0.000000e+00  0.000000e+00
Arab World            Population  0.000000e+00  0.000000e+00  0.000000e+00
                      GDP         0.000000e+00  0.000000e+00  0.000000e+00
Argentina             Population  2.162184e+07  2.195393e+07  2.228339e+07
                      GDP         1.827212e+10  2.560525e+10  2.834471e+10
Armenia               Population  0.000000e+00  0.000000e+00  0.000000e+00
                      GDP         0.000000e+00  0.000000e+00  0.000000e+00
Aruba                 Population  0.000000e+00  0.000000e+00  0.000000e+00
                      GDP         0.000000e+00  0.000000e+00  0.000000e+00
Australia             Population  1.095000e+07  1.116700e+07  1.138800e+07
                      GDP         2.149737e+10  2.375406e+10  2.592564e+10
Austria               Population  7.175811e+06  7.223801e+06  7.270889e+06
                      GDP         8.374175e+09  9.169984e+09  9.994071e+09
Azerbaijan            Population  0.000000e+00  0.000000e+00  0.000000e+00
                      GDP         0.000000e+00  0.000000e+00  0.000000e+00
Bahamas, The          Population  1.273310e+05  1.336970e+05  1.400490e+05
                      GDP         2.377428e+08  2.666641e+08  3.003922e+08
Bahrain               Population  0.000000e+00  0.000000e+00  0.000000e+00
                      GDP         0.000000e+00  0.000000e+00  0.000000e+00
...                                        ...           ...           ...
United Arab Emirates  Population  0.000000e+00  0.000000e+00  0.000000e+00
                      GDP         0.000000e+00  0.000000e+00  0.000000e+00
United Kingdom        Population  5.365000e+07  5.400000e+07  5.434805e+07
                      GDP         8.544377e+10  9.338760e+10  1.005958e+11
United States         Population  1.892420e+08  1.918890e+08  1.943030e+08
                      GDP         6.386000e+11  6.858000e+11  7.437000e+11
Upper middle income   Population  1.204372e+09  1.232266e+09  1.261069e+09
                      GDP         1.955819e+11  2.144250e+11  2.397244e+11
Uruguay               Population  2.635128e+06  2.665387e+06  2.694535e+06
                      GDP         1.539682e+09  1.975702e+09  1.890769e+09
Uzbekistan            Population  0.000000e+00  0.000000e+00  0.000000e+00
                      GDP         0.000000e+00  0.000000e+00  0.000000e+00
Vanuatu               Population  0.000000e+00  0.000000e+00  0.000000e+00
                      GDP         0.000000e+00  0.000000e+00  0.000000e+00
Venezuela, RB         Population  9.130346e+06  9.476255e+06  9.824694e+06
                      GDP         1.066338e+10  9.113581e+09  9.602945e+09
Vietnam               Population  0.000000e+00  0.000000e+00  0.000000e+00
                      GDP         0.000000e+00  0.000000e+00  0.000000e+00
Virgin Islands (U.S.) Population  3.870000e+04  4.130000e+04  4.400000e+04
                      GDP         4.140000e+07  5.380000e+07  6.650000e+07
West Bank and Gaza    Population  0.000000e+00  0.000000e+00  0.000000e+00
                      GDP         0.000000e+00  0.000000e+00  0.000000e+00
World                 Population  3.193947e+09  3.259355e+09  3.326054e+09
                      GDP         1.638187e+12  1.799675e+12  1.959900e+12
Yemen, Rep.           Population  0.000000e+00  0.000000e+00  0.000000e+00
                      GDP         0.000000e+00  0.000000e+00  0.000000e+00
Zambia                Population  3.342894e+06  3.449266e+06  3.559687e+06
                      GDP         7.043397e+08  8.226397e+08  1.061200e+09
Zimbabwe              Population  4.140804e+06  4.279561e+06  4.422132e+06
                      GDP         1.159512e+09  1.217138e+09  1.311436e+09

                                                                            \
year                                      1966          1967          1968
country
Afghanistan           Population  1.014884e+07  1.036860e+07  1.059979e+07
                      GDP         1.400000e+09  1.673333e+09  1.373333e+09
Albania               Population  0.000000e+00  0.000000e+00  0.000000e+00
                      GDP         0.000000e+00  0.000000e+00  0.000000e+00
Algeria               Population  1.298027e+07  1.335420e+07  1.374438e+07
                      GDP         3.039859e+09  3.370870e+09  3.852147e+09
Andorra               Population  0.000000e+00  0.000000e+00  0.000000e+00
                      GDP         0.000000e+00  0.000000e+00  0.000000e+00
Angola                Population  0.000000e+00  0.000000e+00  0.000000e+00
                      GDP         0.000000e+00  0.000000e+00  0.000000e+00
Antigua and Barbuda   Population  0.000000e+00  0.000000e+00  0.000000e+00
                      GDP         0.000000e+00  0.000000e+00  0.000000e+00
Arab World            Population  0.000000e+00  0.000000e+00  1.155571e+08
                      GDP         0.000000e+00  0.000000e+00  2.552596e+10
Argentina             Population  2.260875e+07  2.293220e+07  2.326127e+07
                      GDP         2.863047e+10  2.425667e+10  2.643686e+10
Armenia               Population  0.000000e+00  0.000000e+00  0.000000e+00
                      GDP         0.000000e+00  0.000000e+00  0.000000e+00
Aruba                 Population  0.000000e+00  0.000000e+00  0.000000e+00
                      GDP         0.000000e+00  0.000000e+00  0.000000e+00
Australia             Population  1.165100e+07  1.179900e+07  1.200900e+07
                      GDP         2.725053e+10  3.037854e+10  3.264195e+10
Austria               Population  7.322066e+06  7.376998e+06  7.415403e+06
                      GDP         1.088768e+10  1.157943e+10  1.244063e+10
Azerbaijan            Population  0.000000e+00  0.000000e+00  0.000000e+00
                      GDP         0.000000e+00  0.000000e+00  0.000000e+00
Bahamas, The          Population  1.463640e+05  1.526070e+05  1.586290e+05
                      GDP         3.400000e+08  3.901961e+08  4.449020e+08
Bahrain               Population  0.000000e+00  0.000000e+00  0.000000e+00
                      GDP         0.000000e+00  0.000000e+00  0.000000e+00
...                                        ...           ...           ...
United Arab Emirates  Population  0.000000e+00  0.000000e+00  0.000000e+00
                      GDP         0.000000e+00  0.000000e+00  0.000000e+00
United Kingdom        Population  5.464850e+07  5.494360e+07  5.521170e+07
                      GDP         1.070907e+11  1.111854e+11  1.047027e+11
United States         Population  1.965600e+08  1.987120e+08  2.007060e+08
                      GDP         8.150000e+11  8.617000e+11  9.425000e+11
Upper middle income   Population  1.292755e+09  1.323615e+09  1.355381e+09
                      GDP         2.666625e+11  2.766866e+11  2.898954e+11
Uruguay               Population  2.722874e+06  2.750093e+06  2.774771e+06
                      GDP         1.809184e+09  1.597721e+09  1.593675e+09
Uzbekistan            Population  0.000000e+00  0.000000e+00  0.000000e+00
                      GDP         0.000000e+00  0.000000e+00  0.000000e+00
Vanuatu               Population  0.000000e+00  0.000000e+00  0.000000e+00
                      GDP         0.000000e+00  0.000000e+00  0.000000e+00
Venezuela, RB         Population  1.017514e+07  1.052805e+07  1.088200e+07
                      GDP         1.009657e+10  1.047278e+10  1.147091e+10
Vietnam               Population  0.000000e+00  0.000000e+00  0.000000e+00
                      GDP         0.000000e+00  0.000000e+00  0.000000e+00
Virgin Islands (U.S.) Population  4.730000e+04  5.080000e+04  5.460000e+04
                      GDP         8.410000e+07  1.154000e+08  1.738000e+08
West Bank and Gaza    Population  0.000000e+00  0.000000e+00  0.000000e+00
                      GDP         0.000000e+00  0.000000e+00  0.000000e+00
World                 Population  3.395866e+09  3.465297e+09  3.535512e+09
                      GDP         2.125397e+12  2.262923e+12  2.440549e+12
Yemen, Rep.           Population  0.000000e+00  0.000000e+00  0.000000e+00
                      GDP         0.000000e+00  0.000000e+00  0.000000e+00
Zambia                Population  3.674088e+06  3.792864e+06  3.916928e+06
                      GDP         1.239000e+09  1.340639e+09  1.573739e+09
Zimbabwe              Population  4.568320e+06  4.718612e+06  4.874113e+06
                      GDP         1.281750e+09  1.397002e+09  1.479600e+09

                                                    ...                     \
year                                      1969      ...               2006
country                                             ...
Afghanistan           Population  1.084951e+07      ...       2.518362e+07
                      GDP         1.408889e+09      ...       7.057598e+09
Albania               Population  0.000000e+00      ...       2.992547e+06
                      GDP         0.000000e+00      ...       8.992642e+09
Algeria               Population  1.414444e+07      ...       3.374933e+07
                      GDP         4.257253e+09      ...       1.170273e+11
Andorra               Population  0.000000e+00      ...       8.337300e+04
                      GDP         0.000000e+00      ...       3.536452e+09
Angola                Population  0.000000e+00      ...       1.854147e+07
                      GDP         0.000000e+00      ...       4.178948e+10
Antigua and Barbuda   Population  0.000000e+00      ...       8.346700e+04
                      GDP         0.000000e+00      ...       1.135144e+09
Arab World            Population  1.188239e+08      ...       3.209067e+08
                      GDP         2.817577e+10      ...       1.404190e+12
Argentina             Population  2.360599e+07      ...       3.955875e+07
                      GDP         3.125628e+10      ...       2.626665e+11
Armenia               Population  0.000000e+00      ...       3.002161e+06
                      GDP         0.000000e+00      ...       6.384452e+09
Aruba                 Population  0.000000e+00      ...       1.008300e+05
                      GDP         0.000000e+00      ...       2.421475e+09
Australia             Population  1.226300e+07      ...       2.069790e+07
                      GDP         3.660656e+10      ...       7.468808e+11
Austria               Population  7.441055e+06      ...       8.268641e+06
                      GDP         1.358280e+10      ...       3.343094e+11
Azerbaijan            Population  0.000000e+00      ...       8.484550e+06
                      GDP         0.000000e+00      ...       2.098302e+10
Bahamas, The          Population  1.642500e+05      ...       3.358010e+05
                      GDP         5.281373e+08      ...       7.965588e+09
Bahrain               Population  0.000000e+00      ...       9.408080e+05
                      GDP         0.000000e+00      ...       1.850505e+10
...                                        ...      ...                ...
United Arab Emirates  Population  0.000000e+00      ...       5.171255e+06
                      GDP         0.000000e+00      ...       2.221059e+11
United Kingdom        Population  5.544175e+07      ...       6.084682e+07
                      GDP         1.126769e+11      ...       2.588077e+12
United States         Population  2.026770e+08      ...       2.983799e+08
                      GDP         1.019900e+12      ...       1.385589e+13
Upper middle income   Population  1.388827e+09      ...       2.380136e+09
                      GDP         3.221882e+11      ...       8.620784e+12
Uruguay               Population  2.795044e+06      ...       3.331041e+06
                      GDP         2.004435e+09      ...       1.957946e+10
Uzbekistan            Population  0.000000e+00      ...       2.648825e+07
                      GDP         0.000000e+00      ...       1.703090e+10
Vanuatu               Population  0.000000e+00      ...       2.146350e+05
                      GDP         0.000000e+00      ...       4.393768e+08
Venezuela, RB         Population  1.123549e+07      ...       2.722123e+07
                      GDP         1.192757e+10      ...       1.834775e+11
Vietnam               Population  0.000000e+00      ...       8.331120e+07
                      GDP         0.000000e+00      ...       6.637166e+10
Virgin Islands (U.S.) Population  5.860000e+04      ...       0.000000e+00
                      GDP         2.113000e+08      ...       0.000000e+00
West Bank and Gaza    Population  0.000000e+00      ...       3.406334e+06
                      GDP         0.000000e+00      ...       4.910100e+09
World                 Population  3.609910e+09      ...       6.594722e+09
                      GDP         2.686747e+12      ...       5.107451e+13
Yemen, Rep.           Population  0.000000e+00      ...       2.109397e+07
                      GDP         0.000000e+00      ...       1.908173e+10
Zambia                Population  4.047479e+06      ...       1.238151e+07
                      GDP         1.926399e+09      ...       1.275686e+10
Zimbabwe              Population  5.036321e+06      ...       1.312794e+07
                      GDP         1.747999e+09      ...       5.443896e+09

                                                                            \
year                                      2007          2008          2009
country
Afghanistan           Population  2.587754e+07  2.652874e+07  2.720729e+07
                      GDP         9.843842e+09  1.019053e+10  1.248694e+10
Albania               Population  2.970017e+06  2.947314e+06  2.927519e+06
                      GDP         1.070101e+10  1.288135e+10  1.204421e+10
Algeria               Population  3.426197e+07  3.481106e+07  3.540179e+07
                      GDP         1.349771e+11  1.710007e+11  1.372110e+11
Andorra               Population  8.487800e+04  8.561600e+04  8.547400e+04
                      GDP         4.010785e+09  4.001349e+09  3.649863e+09
Angola                Population  1.918391e+07  1.984225e+07  2.052010e+07
                      GDP         6.044892e+10  8.417803e+10  7.549238e+10
Antigua and Barbuda   Population  8.439700e+04  8.535000e+04  8.630000e+04

In [201]:
stats.pivot(index = "year", columns = "country")

         Population                                              \
country Afghanistan    Albania     Algeria  Andorra      Angola
year
1960      8994793.0        NaN  11124892.0      NaN         NaN
1961      9164945.0        NaN  11404859.0      NaN         NaN
1962      9343772.0        NaN  11690152.0      NaN         NaN
1963      9531555.0        NaN  11985130.0      NaN         NaN
1964      9728645.0        NaN  12295973.0      NaN         NaN
1965      9935358.0        NaN  12626953.0      NaN         NaN
1966     10148841.0        NaN  12980269.0      NaN         NaN
1967     10368600.0        NaN  13354197.0      NaN         NaN
1968     10599790.0        NaN  13744383.0      NaN         NaN
1969     10849510.0        NaN  14144437.0      NaN         NaN
1970     11121097.0        NaN  14550033.0  24279.0         NaN
1971     11412821.0        NaN  14960111.0  25560.0         NaN
1972     11716896.0        NaN  15377095.0  26892.0         NaN
1973     12022514.0        NaN  15804428.0  28231.0         NaN
1974     12315553.0        NaN  16247113.0  29514.0         NaN
1975     12582954.0        NaN  16709098.0  30706.0         NaN
1976     12831361.0        NaN  17190236.0  31781.0         NaN
1977     13056499.0        NaN  17690184.0  32769.0         NaN
1978     13222547.0        NaN  18212331.0  33746.0         NaN
1979     13283279.0        NaN  18760761.0  34819.0         NaN
1980     13211412.0        NaN  19337723.0  36063.0         NaN
1981     12996923.0        NaN  19943667.0  37502.0         NaN
1982            NaN        NaN  20575701.0  39112.0         NaN
1983            NaN        NaN  21228288.0  40862.0         NaN
1984            NaN  2904429.0  21893857.0  42704.0         NaN
1985            NaN  2964762.0  22565908.0  44597.0   9745209.0
1986            NaN  3022635.0  23241276.0  46515.0  10023700.0
1987            NaN  3083605.0  23917889.0  48458.0  10285712.0
1988            NaN  3142336.0  24591493.0  50431.0  10544904.0
1989            NaN  3227943.0  25257671.0  52449.0  10820992.0
1990            NaN  3286542.0  25912364.0  54511.0  11127870.0
1991            NaN  3266790.0  26554277.0  56674.0  11472173.0
1992            NaN  3247039.0  27180921.0  58904.0  11848971.0
1993            NaN  3227287.0  27785977.0  61003.0  12246786.0
1994            NaN  3207536.0  28362015.0  62707.0  12648483.0
1995            NaN  3187784.0  28904300.0  63854.0  13042666.0
1996            NaN  3168033.0  29411839.0  64291.0  13424813.0
1997            NaN  3148281.0  29887717.0  64147.0  13801868.0
1998            NaN  3128530.0  30336880.0  63888.0  14187710.0
1999            NaN  3108778.0  30766551.0  64161.0  14601983.0
2000            NaN  3089027.0  31183658.0  65399.0  15058638.0
2001     20531160.0  3060173.0  31590320.0  67770.0  15562791.0
2002     21487079.0  3051010.0  31990387.0  71046.0  16109696.0
2003     22507368.0  3039616.0  32394886.0  74783.0  16691395.0
2004     23499850.0  3026939.0  32817225.0  78337.0  17295500.0
2005     24399948.0  3011487.0  33267887.0  81223.0  17912942.0
2006     25183615.0  2992547.0  33749328.0  83373.0  18541467.0
2007     25877544.0  2970017.0  34261971.0  84878.0  19183907.0
2008     26528741.0  2947314.0  34811059.0  85616.0  19842251.0
2009     27207291.0  2927519.0  35401790.0  85474.0  20520103.0
2010     27962207.0  2913021.0  36036159.0  84419.0  21219954.0
2011     28809167.0  2904780.0  36717132.0  82326.0  21942296.0
2012     29726803.0  2900247.0  37439427.0  79316.0  22685632.0
2013     30682500.0  2896652.0  38186135.0  75902.0  23448202.0
2014     31627506.0  2893654.0  38934334.0      NaN  24227524.0
2015     32526562.0  2889167.0  39666519.0      NaN  25021974.0

                                                                           \
country Antigua and Barbuda   Arab World   Argentina    Armenia     Aruba
year
1960                    NaN          NaN         NaN        NaN       NaN
1961                    NaN          NaN         NaN        NaN       NaN
1962                    NaN          NaN  21287682.0        NaN       NaN
1963                    NaN          NaN  21621845.0        NaN       NaN
1964                    NaN          NaN  21953926.0        NaN       NaN
1965                    NaN          NaN  22283389.0        NaN       NaN
1966                    NaN          NaN  22608747.0        NaN       NaN
1967                    NaN          NaN  22932201.0        NaN       NaN
1968                    NaN  115557094.0  23261273.0        NaN       NaN
1969                    NaN  118823872.0  23605992.0        NaN       NaN
1970                    NaN  122128175.0  23973062.0        NaN       NaN
1971                    NaN  125439089.0  24366442.0        NaN       NaN
1972                    NaN  128801209.0  24782950.0        NaN       NaN
1973                    NaN  132298955.0  25213388.0        NaN       NaN
1974                    NaN  136044481.0  25644505.0        NaN       NaN
1975                    NaN  140114424.0  26066975.0        NaN       NaN
1976                    NaN  144542039.0  26477153.0        NaN       NaN
1977                70223.0  149296257.0  26878567.0        NaN       NaN
1978                70508.0  154303887.0  27277742.0        NaN       NaN
1979                70553.0  159455867.0  27684530.0        NaN       NaN
1980                70301.0  164670713.0  28105889.0        NaN       NaN
1981                69750.0  169926632.0  28543366.0        NaN       NaN
1982                68950.0  175237742.0  28993989.0        NaN       NaN
1983                67958.0  180606318.0  29454739.0        NaN       NaN
1984                66863.0  186005735.0  29920907.0        NaN       NaN
1985                65744.0  191564251.0  30388781.0        NaN       NaN
1986                64605.0  197202142.0  30857242.0        NaN       NaN
1987                63484.0  202851923.0  31326473.0        NaN       NaN
1988                62538.0  208546282.0  31795515.0        NaN       NaN
1989                61967.0  214250542.0  32263559.0        NaN       NaN
1990                61906.0  222117305.0  32729740.0  3544695.0       NaN
1991                62412.0  228171034.0  33193920.0  3511912.0       NaN
1992                63434.0  232417246.0  33655149.0  3449497.0       NaN
1993                64868.0  238628852.0  34110912.0  3369673.0       NaN
1994                66550.0  244893420.0  34558114.0  3289943.0   76700.0
1995                68349.0  252591048.0  34994818.0  3223173.0   80326.0
1996                70245.0  258423164.0  35419683.0  3173425.0   83195.0
1997                72232.0  264153948.0  35833965.0  3137652.0   85447.0
1998                74206.0  269795252.0  36241578.0  3112958.0   87276.0
1999                76041.0  275503565.0  36648054.0  3093820.0   89004.0
2000                77648.0  281326250.0  37057453.0  3076098.0   90858.0
2001                78972.0  287291826.0  37471535.0  3060036.0   92894.0
2002                80030.0  293402563.0  37889443.0  3047249.0   94995.0
2003                80904.0  299731956.0  38309475.0  3036420.0   97015.0
2004                81718.0  306387415.0  38728778.0  3025982.0   98742.0
2005                82565.0  313430911.0  39145491.0  3014917.0  100031.0
2006                83467.0  320906736.0  39558750.0  3002161.0  100830.0
2007                84397.0  328766559.0  39969903.0  2988117.0  101218.0
2008                85350.0  336886468.0  40381860.0  2975029.0  101342.0
2009                86300.0  345054176.0  40798641.0  2966108.0  101416.0
2010                87233.0  353112237.0  41222875.0  2963496.0  101597.0
2011                88152.0  361031820.0  41655616.0  2967984.0  101936.0
2012                89069.0  368802611.0  42095224.0  2978339.0       NaN
2013                89985.0  376504253.0  42538304.0  2992192.0       NaN
2014                90900.0  384222592.0  42980026.0  3006154.0       NaN
2015                91818.0  392022276.0         NaN  3017712.0       NaN

             ...                GDP                                            \
country      ...         Uzbekistan       Vanuatu Venezuela, RB       Vietnam
year         ...
1960         ...                NaN           NaN  8.607600e+09           NaN
1961         ...                NaN           NaN  8.923367e+09           NaN
1962         ...                NaN           NaN  9.873398e+09           NaN
1963         ...                NaN           NaN  1.066338e+10           NaN
1964         ...                NaN           NaN  9.113581e+09           NaN
1965         ...                NaN           NaN  9.602945e+09           NaN
1966         ...                NaN           NaN  1.009657e+10           NaN
1967         ...                NaN           NaN  1.047278e+10           NaN
1968         ...                NaN           NaN  1.147091e+10           NaN
1969         ...                NaN           NaN  1.192757e+10           NaN
1970         ...                NaN           NaN  1.299312e+10           NaN
1971         ...                NaN           NaN  1.447156e+10           NaN
1972         ...                NaN           NaN  1.592287e+10           NaN
1973         ...                NaN           NaN  1.944593e+10           NaN
1974         ...                NaN           NaN  2.908710e+10           NaN
1975         ...                NaN           NaN  3.141316e+10           NaN
1976         ...                NaN           NaN  3.627232e+10           NaN
1977         ...                NaN           NaN  4.233706e+10           NaN
1978         ...                NaN           NaN  4.650764e+10           NaN
1979         ...                NaN  1.192588e+08  5.575055e+10           NaN
1980         ...                NaN  1.134232e+08  6.713512e+10           NaN
1981         ...                NaN  9.874641e+07  7.549883e+10           NaN
1982         ...                NaN  9.814464e+07  7.669365e+10           NaN
1983         ...                NaN  1.101238e+08  7.858650e+10           NaN
1984         ...                NaN  1.355538e+08  5.595234e+10           NaN
1985         ...                NaN  1.236985e+08  5.793574e+10  1.409469e+10
1986         ...                NaN  1.186914e+08  5.891511e+10  2.633662e+10
1987         ...                NaN  1.308341e+08  4.534379e+10  3.665811e+10
1988         ...                NaN  1.485454e+08  5.842840e+10  2.542381e+10
1989         ...                NaN  1.444822e+08  4.214230e+10  6.293305e+09
1990         ...       1.336061e+10  1.583974e+08  4.702751e+10  6.471740e+09
1991         ...       1.367762e+10  1.888700e+08  5.173436e+10  9.613370e+09
1992         ...       1.294130e+10  1.961426e+08  5.847036e+10  9.866990e+09
1993         ...       1.309901e+10  1.880804e+08  5.810756e+10  1.318095e+10
1994         ...       1.289916e+10  2.192603e+08  5.652990e+10  1.628643e+10
1995         ...       1.335047e+10  2.339021e+08  7.488874e+10  2.073616e+10
1996         ...       1.394889e+10  2.451776e+08  6.825859e+10  2.465747e+10
1997         ...       1.474460e+10  2.558902e+08  8.583739e+10  2.684370e+10
1998         ...       1.498897e+10  2.623013e+08  9.133854e+10  2.720960e+10
1999         ...       1.707847e+10  2.679992e+08  9.797414e+10  2.868366e+10
2000         ...       1.376037e+10  2.720147e+08  1.171476e+11  3.364009e+10
2001         ...       1.140135e+10  2.579269e+08  1.229097e+11  3.529135e+10
2002         ...       9.687951e+09  2.626038e+08  9.288959e+10  3.794790e+10
2003         ...       1.012811e+10  3.144631e+08  8.362219e+10  4.271707e+10
2004         ...       1.203002e+10  3.649969e+08  1.124514e+11  4.942411e+10
2005         ...       1.430751e+10  3.949626e+08  1.455135e+11  5.763326e+10
2006         ...       1.703090e+10  4.393768e+08  1.834775e+11  6.637166e+10
2007         ...       2.231139e+10  5.264283e+08  2.303642e+11  7.741443e+10
2008         ...       2.793403e+10  6.079586e+08  3.156002e+11  9.913030e+10
2009         ...       3.281683e+10  6.100666e+08  3.294190e+11  1.060146e+11
2010         ...       3.933277e+10  7.008043e+08  3.938015e+11  1.159317e+11
2011         ...       4.532432e+10  7.921497e+08  3.164822e+11  1.355395e+11
2012         ...       5.118344e+10  7.817029e+08  3.812862e+11  1.558200e+11
2013         ...       5.679566e+10  8.017876e+08  3.713366e+11  1.712220e+11
2014         ...       6.313285e+10  8.149546e+08           NaN  1.862047e+11
2015         ...       6.673280e+10           NaN           NaN  1.935994e+11

                                                                              \
country Virgin Islands (U.S.) West Bank and Gaza         World   Yemen, Rep.
year
1960             2.420000e+07                NaN  1.364643e+12           NaN
1961             2.570000e+07                NaN  1.420440e+12           NaN
1962             3.690000e+07                NaN  1.524573e+12           NaN
1963             4.140000e+07                NaN  1.638187e+12           NaN
1964             5.380000e+07                NaN  1.799675e+12           NaN
1965             6.650000e+07                NaN  1.959900e+12           NaN
1966             8.410000e+07                NaN  2.125397e+12           NaN
1967             1.154000e+08                NaN  2.262923e+12           NaN
1968             1.738000e+08                NaN  2.440549e+12           NaN
1969             2.113000e+08                NaN  2.686747e+12           NaN
1970             2.190000e+08                NaN  2.950656e+12           NaN
1971             2.570000e+08                NaN  3.259057e+12           NaN
1972             3.071000e+08                NaN  3.757853e+12           NaN
1973             3.516000e+08                NaN  4.578523e+12           NaN
1974             3.954000e+08                NaN  5.279355e+12           NaN
1975             3.998000e+08                NaN  5.880305e+12           NaN
1976             4.400000e+08                NaN  6.400883e+12           NaN
1977             4.618000e+08                NaN  7.237905e+12           NaN
1978             5.129000e+08                NaN  8.521725e+12           NaN
1979             6.067000e+08                NaN  9.903841e+12           NaN
1980             7.278000e+08                NaN  1.115409e+13           NaN
1981             8.218000e+08                NaN  1.144748e+13           NaN
1982             8.326000e+08                NaN  1.134460e+13           NaN
1983             9.169000e+08                NaN  1.160740e+13           NaN
1984             9.854000e+08                NaN  1.204953e+13           NaN
1985             9.904000e+08                NaN  1.267287e+13           NaN
1986             1.035600e+09                NaN  1.499712e+13           NaN
1987             1.147800e+09                NaN  1.706395e+13           NaN
1988             1.204600e+09                NaN  1.910918e+13           NaN
1989             1.343900e+09                NaN  2.006077e+13           NaN
1990             1.564700e+09                NaN  2.256312e+13  5.647252e+09
1991             1.671200e+09                NaN  2.389846e+13  5.930370e+09
1992             1.770900e+09                NaN  2.537482e+13  6.463650e+09
1993             1.996000e+09                NaN  2.580571e+13  5.368271e+09
1994                      NaN       2.843300e+09  2.770637e+13  4.167356e+09
1995                      NaN       3.282800e+09  3.065894e+13  4.258789e+09
1996                      NaN       3.409600e+09  3.132499e+13  5.785685e+09
1997                      NaN       3.759800e+09  3.124076e+13  6.839039e+09
1998                      NaN       4.067800e+09  3.112270e+13  6.325220e+09
1999                      NaN       4.271200e+09  3.228297e+13  7.641101e+09
2000                      NaN       4.313600e+09  3.332130e+13  9.636342e+09
2001                      NaN       4.003700e+09  3.313421e+13  9.854042e+09
2002                      NaN       3.555800e+09  3.441805e+13  1.069328e+10
2003                      NaN       3.968000e+09  3.865630e+13  1.177777e+10
2004                      NaN       4.329200e+09  4.355213e+13  1.387350e+10
2005                      NaN       4.831800e+09  4.714259e+13  1.675377e+10
2006                      NaN       4.910100e+09  5.107451e+13  1.908173e+10
2007                      NaN       5.505800e+09  5.758343e+13  2.563367e+10
2008                      NaN       6.673500e+09  6.312856e+13  3.039720e+10
2009                      NaN       7.268200e+09  5.983553e+13  2.845950e+10
2010                      NaN       8.913100e+09  6.564782e+13  3.090675e+10
2011                      NaN       1.045985e+10  7.284314e+13  3.107886e+10
2012                      NaN       1.127940e+10  7.442836e+13  3.207477e+10
2013                      NaN       1.247600e+10  7.643132e+13  3.595450e+10
2014                      NaN       1.271560e+10  7.810634e+13           NaN
2015                      NaN       1.267740e+10  7.343364e+13           NaN


country        Zambia      Zimbabwe
year
1960     6.987397e+08  1.052990e+09
1961     6.823597e+08  1.096647e+09
1962     6.792797e+08  1.117602e+09
1963     7.043397e+08  1.159512e+09
1964     8.226397e+08  1.217138e+09
1965     1.061200e+09  1.311436e+09
1966     1.239000e+09  1.281750e+09
1967     1.340639e+09  1.397002e+09
1968     1.573739e+09  1.479600e+09
1969     1.926399e+09  1.747999e+09
1970     1.788779e+09  1.884206e+09
1971     1.653259e+09  2.178716e+09
1972     1.872417e+09  2.677729e+09
1973     2.434255e+09  3.309354e+09
1974     2.910981e+09  3.982161e+09
1975     2.442672e+09  4.371301e+09
1976     2.742859e+09  4.318372e+09
1977     2.515297e+09  4.364382e+09
1978     2.811032e+09  4.351600e+09
1979     3.353445e+09  5.177459e+09
1980     3.884531e+09  6.678868e+09
1981     4.008126e+09  8.011374e+09
1982     3.871117e+09  8.539701e+09
1983     3.321048e+09  7.764067e+09
1984     2.719519e+09  6.352126e+09
1985     2.252455e+09  5.637259e+09
1986     1.664414e+09  6.217524e+09
1987     2.265251e+09  6.741215e+09
1988     3.728878e+09  7.814784e+09
1989     3.994673e+09  8.286323e+09
1990     3.288382e+09  8.783817e+09
1991     3.378882e+09  8.641482e+09
1992     3.181922e+09  6.751472e+09
1993     3.273238e+09  6.563813e+09
1994     3.656648e+09  6.890675e+09
1995     3.807067e+09  7.111271e+09
1996     3.597221e+09  8.553147e+09
1997     4.303282e+09  8.529572e+09
1998     3.537683e+09  6.401968e+09
1999     3.404312e+09  6.858013e+09
2000     3.600683e+09  6.689958e+09
2001     4.094481e+09  6.777385e+09
2002     4.193846e+09  6.342116e+09
2003     4.901840e+09  5.727592e+09
2004     6.221078e+09  5.805598e+09
2005     8.331870e+09  5.755215e+09
2006     1.275686e+10  5.443896e+09
2007     1.405696e+10  5.291950e+09
2008     1.791086e+10  4.415703e+09
2009     1.532834e+10  8.157077e+09
2010     2.026555e+10  9.422161e+09
2011     2.345952e+10  1.095623e+10
2012     2.550306e+10  1.239272e+10
2013     2.804552e+10  1.349023e+10
2014     2.713464e+10  1.419691e+10
2015     2.120156e+10  1.389294e+10

[56 rows x 504 columns]

# The .pivot() Method

Return reshaped DataFrame organized by given index / column values.

Reshape data (produce a “pivot” table) based on column values. Uses unique values from specified index / columns to form axes of the resulting DataFrame. This function does not support data aggregation, multiple values will result in a MultiIndex in the columns. See the User Guide for more on reshaping.

__Parameters:__	
index : string or object, optional

Column to use to make new frame’s index. If None, uses existing index.

__columns:__	 : string or object

Column to use to make new frame’s columns.

__values__ : string, object or a list of the previous, optional

Column(s) to use for populating new frame’s values. If not specified, all remaining columns will be used and the result will have hierarchically indexed columns.

Changed in version 0.23.0: Also accept list of column names.

Returns:	
DataFrame

Returns reshaped DataFrame.

Raises:	
ValueError:

When there are any index, columns combinations with multiple values. DataFrame.pivot_table when you need to aggregate.

In [196]:
man = pd.read_csv("D:/python/Data Analysis with Python/#Udemy/Pandas/salesmen.csv", parse_dates=["Date"])
man["Salesman"] = man["Salesman"].astype("category")
man.head()

        Date Salesman  Revenue
0 2016-01-01      Bob     7172
1 2016-01-02      Bob     6362
2 2016-01-03      Bob     5982
3 2016-01-04      Bob     7917
4 2016-01-05      Bob     7837

In [202]:
man.pivot(index= "Date", columns = "Salesman", values = "Revenue")

Salesman     Bob  Dave   Jeb  Oscar  Ronald
Date
2016-01-01  7172  1864  4430   5250    2639
2016-01-02  6362  8278  8026   8661    4951
2016-01-03  5982  4226  5188   7075    2703
2016-01-04  7917  3868  3144   2524    4258
2016-01-05  7837  2287   938   2793    7771
2016-01-06  1744  7859  8702   7794    5930
2016-01-07   918  8597  4250   9728    1933
2016-01-08  9863  3092  9719   5263    5709
2016-01-09  8337  1794  5614   7144    4707
2016-01-10  7543  7105   301   7663    8267
2016-01-11  1053  6851  9489   8888    1340
2016-01-12  4362  7147  8719   3092     279
2016-01-13  6812  6160  2349   6139    7540
2016-01-14  9047  7533  7690   5235    4214
2016-01-15  3594  9883  6917   5507    5346
2016-01-16  9800  3622   474   4947    9636
2016-01-17  7215  4565  8963   3325    6058
2016-01-18  7744  8246  2351   2611    3602
2016-01-19  9560  9229  5512   1905     316
2016-01-20  9863  8358  9509   6005    9352
2016-01-21   547  4229  2453   2798    6781
2016-01-22  3505  4417  2875    879    5166
2016-01-23  6969   358  8853   4245    2479
2016-01-24   696  7817  6705   3798    4835
2016-01-25  4302  6354  2882   1143    9750
2016-01-26  9427  7544  1009    871    8738
2016-01-27  7990  2255  4020   2403    1768
2016-01-28  6271  3419  1735   3691    7264
2016-01-29  5804  1378  6477    418    8545
2016-01-30  3285  6456  2253   7776     658
...          ...   ...   ...    ...     ...
2016-12-02  5570  9842   982   5589    5956
2016-12-03  7910  4284  9363   6009    2252
2016-12-04  2869  8389  5980    537    1484
2016-12-05  4013  3089  8999   3895    2867
2016-12-06  1695  9142  4896   3060    5734
2016-12-07  1010  3707  4634    295    5409
2016-12-08  1149  3073  5930   5038    9951
2016-12-09  4432  6820  8592    258      96
2016-12-10   194  3938  3530   9392    8713
2016-12-11  7676  8805  1134    690    5843
2016-12-12  7290  3917  9004   5621    4524
2016-12-13  7253  9168  8031   3284    5193
2016-12-14  9777  2632  3162   2245    8161
2016-12-15  7933  2051  4408   3449    9557
2016-12-16  6742  1148  3020   1763    2318
2016-12-17  5641  8921  6126   1641    9042
2016-12-18  8445  9203  5843   1022    7979
2016-12-19  3065  4255  8136   3366    2734
2016-12-20  3864  7209  2082    364    5757
2016-12-21  4080  1335  5940   3579     359
2016-12-22  5294  6986  4389   6476     825
2016-12-23  5063  5507     9   6495    9210
2016-12-24  1731  5520  8230   9346    4114
2016-12-25  8325  4004  6569   8321    7490
2016-12-26  6664  3211  1572   6172    6170
2016-12-27  2045  2843  6666    835    2981
2016-12-28   100  8888  1243   3073    6129
2016-12-29  4115  9490  3498   6424    7662
2016-12-30  2577  3594  8858   7088    2570
2016-12-31  3845  6830  9717   8408    2619

[366 rows x 5 columns]

In [198]:
man["Salesman"].unique()

[Bob, Ronald, Dave, Jeb, Oscar]
Categories (5, object): [Bob, Ronald, Dave, Jeb, Oscar]

# The .pivot_table() Method

In [203]:
food= pd.read_csv("D:/python/Data Analysis with Python/#Udemy/Pandas/foods.csv")
food.head()

  First Name  Gender          City Frequency       Item  Spend
0      Wanda  Female      Stamford    Weekly     Burger  15.66
1       Eric    Male      Stamford     Daily    Chalupa  10.56
2    Charles    Male      New York     Never      Sushi  42.14
3       Anna  Female  Philadelphia      Once  Ice Cream  11.01
4    Deborah  Female  Philadelphia     Daily    Chalupa  23.49

In [227]:
food.pivot_table(index = ["Gender", "Item"], columns=["City"] ,fill_value=0, values = "Spend", aggfunc="max") #aggfunc = mean/ count/ max/ min

City              New York  Philadelphia  Stamford
Gender Item
Female Burger        98.96         97.79     85.06
       Burrito       92.25         96.79     99.21
       Chalupa       98.43         99.29     98.78
       Donut         95.63         96.52     91.75
       Ice Cream     97.83         88.14     97.44
       Sushi         99.51         99.02     95.43
Male   Burger        90.32         99.68     97.20
       Burrito       98.04         93.27     95.07
       Chalupa       96.44         98.40     99.87
       Donut         86.70         93.12     99.26
       Ice Cream     97.65         99.24     99.17
       Sushi         93.85         97.12     98.48

# The pd.melt() Method

In [232]:
quart = pd.read_csv("D:/python/Data Analysis with Python/#Udemy/Pandas/quarters.csv")
quart

  Salesman      Q1      Q2      Q3      Q4
0    Boris  602908  233879  354479   32704
1      Bob   43790  514863  297151  544493
2    Tommy  392668  113579  430882  247231
3   Travis  834663  266785  749238  570524
4   Donald  580935  411379  110390  651572
5      Ted  656644   70803  375948  321388
6      Jeb  486141  600753  742716  404995
7    Stacy  479662  742806  770712    2501
8   Morgan  992673  879183   37945  293710

In [243]:
quart.melt(id_vars = "Salesman", value_vars = "Q4", var_name= "Quarters", value_name="Revenue")

  Salesman Quarters  Revenue
0    Boris       Q4    32704
1      Bob       Q4   544493
2    Tommy       Q4   247231
3   Travis       Q4   570524
4   Donald       Q4   651572
5      Ted       Q4   321388
6      Jeb       Q4   404995
7    Stacy       Q4     2501
8   Morgan       Q4   293710

----------------------------------------------------------------------------------------------------------------------------