In [1]:
import pandas as pd

In [13]:
online = pd.read_csv("https://data.cityofnewyork.us/api/views/f9bf-2cp4/rows.csv?accessType=DOWNLOAD")

In [9]:
online.head()

,DBN,SCHOOL NAME,Num of SAT Test Takers,SAT Critical Reading Avg. Score,SAT Math Avg. Score,SAT Writing Avg. Score
0,01M292,HENRY STREET SCHOOL FOR INTERNATIONAL STUDIES,29,355,404,363
1,01M448,UNIVERSITY NEIGHBORHOOD HIGH SCHOOL,91,383,423,366
2,01M450,EAST SIDE COMMUNITY SCHOOL,70,377,402,370
3,01M458,FORSYTH SATELLITE ACADEMY,7,414,401,359
4,01M509,MARTA VALLE HIGH SCHOOL,44,390,433,384

# Quick Object Conversions

In [16]:
online["SCHOOL NAME"].tolist()

online["SCHOOL NAME"].to_frame()

                                           SCHOOL NAME
0        HENRY STREET SCHOOL FOR INTERNATIONAL STUDIES
1                  UNIVERSITY NEIGHBORHOOD HIGH SCHOOL
2                           EAST SIDE COMMUNITY SCHOOL
3                            FORSYTH SATELLITE ACADEMY
4                              MARTA VALLE HIGH SCHOOL
5              LOWER EAST SIDE PREPARATORY HIGH SCHOOL
6    NEW EXPLORATIONS INTO SCIENCE, TECHNOLOGY AND ...
7                                 CASCADES HIGH SCHOOL
8                       BARD HIGH SCHOOL EARLY COLLEGE
9    47 THE AMERICAN SIGN LANGUAGE AND ENGLISH SECO...
10                        FOOD AND FINANCE HIGH SCHOOL
11                                ESSEX STREET ACADEMY
12               HIGH SCHOOL OF HOSPITALITY MANAGEMENT
13                                    PACE HIGH SCHOOL
14   URBAN ASSEMBLY SCHOOL OF DESIGN AND CONSTRUCTI...
15                          FACING HISTORY SCHOOL, THE
16   URBAN ASSEMBLY ACADEMY OF GOVERNMENT AND LAW, THE
17                        LOWER MANHATTAN ARTS ACADEMY
18   JAMES BALDWIN SCHOOL, THE: A SCHOOL FOR EXPEDI...
19   URBAN ASSEMBLY SCHOOL OF BUSINESS FOR YOUNG WO...
20                           GRAMERCY ARTS HIGH SCHOOL
21                                         NYC ISCHOOL
22                          MANHATTAN BUSINESS ACADEMY
23                           BUSINESS OF SPORTS SCHOOL
24                            EMMA LAZARUS HIGH SCHOOL
25          THE HIGH SCHOOL FOR LANGUAGE AND DIPLOMACY
26               HIGH SCHOOL FOR ENVIRONMENTAL STUDIES
27               INSTITUTE FOR COLLABORATIVE EDUCATION
28            PROFESSIONAL PERFORMING ARTS HIGH SCHOOL
29                   BARUCH COLLEGE CAMPUS HIGH SCHOOL
..                                                 ...
448          BACCALAUREATE SCHOOL FOR GLOBAL EDUCATION
449          CSI HIGH SCHOOL FOR INTERNATIONAL STUDIES
450        GAYNOR MCCOWN EXPEDITIONARY LEARNING SCHOOL
451                     THE MICHAEL J. PETRIDES SCHOOL
452                               NEW DORP HIGH SCHOOL
453                          PORT RICHMOND HIGH SCHOOL
454                                 CURTIS HIGH SCHOOL
455                            TOTTENVILLE HIGH SCHOOL
456                        SUSAN E. WAGNER HIGH SCHOOL
457                                CONCORD HIGH SCHOOL
458  RALPH R. MCKEE CAREER AND TECHNICAL EDUCATION ...
459                STATEN ISLAND TECHNICAL HIGH SCHOOL
460    YOUNG ADULT BOROUGH CENTER AT STATEN IS TECH HS
461               ACADEMY FOR ENVIRONMENTAL LEADERSHIP
462        EBC HIGH SCHOOL FOR PUBLIC SERVICE–BUSHWICK
463                 BUSHWICK SCHOOL FOR SOCIAL JUSTICE
464                          ACADEMY OF URBAN PLANNING
465               ALL CITY LEADERSHIP SECONDARY SCHOOL
466  BUSHWICK LEADERS HIGH SCHOOL FOR ACADEMIC EXCE...
467                     BUSHWICK COMMUNITY HIGH SCHOOL
468                      P.S. 371 s LILLIAN L. RASHKIS
469                                           P.S. 035
470                                          P.S. Q256
471                                          P.S. Q811
472            SOUTH RICHMOND HIGH SCHOOL I.S./P.S. 25
473                   P.S. X012 LEWIS AND CLARK SCHOOL
474            J. M. RAPPORT SCHOOL CAREER DEVELOPMENT
475         SCHOOL FOR COOPERATIVE TECHNICAL EDUCATION
476                                GED PLUS s CITYWIDE
477                                    PHOENIX ACADEMY

[478 rows x 1 columns]

In [17]:
", ".join(str(name) for name in online["SCHOOL NAME"]) #!important

"HENRY STREET SCHOOL FOR INTERNATIONAL STUDIES, UNIVERSITY NEIGHBORHOOD HIGH SCHOOL, EAST SIDE COMMUNITY SCHOOL, FORSYTH SATELLITE ACADEMY, MARTA VALLE HIGH SCHOOL, LOWER EAST SIDE PREPARATORY HIGH SCHOOL, NEW EXPLORATIONS INTO SCIENCE, TECHNOLOGY AND MATH HIGH SCHOOL, CASCADES HIGH SCHOOL, BARD HIGH SCHOOL EARLY COLLEGE, 47 THE AMERICAN SIGN LANGUAGE AND ENGLISH SECONDARY SCHOOL, FOOD AND FINANCE HIGH SCHOOL, ESSEX STREET ACADEMY, HIGH SCHOOL OF HOSPITALITY MANAGEMENT, PACE HIGH SCHOOL, URBAN ASSEMBLY SCHOOL OF DESIGN AND CONSTRUCTION, THE, FACING HISTORY SCHOOL, THE, URBAN ASSEMBLY ACADEMY OF GOVERNMENT AND LAW, THE, LOWER MANHATTAN ARTS ACADEMY, JAMES BALDWIN SCHOOL, THE: A SCHOOL FOR EXPEDITIONARY LEARNING, URBAN ASSEMBLY SCHOOL OF BUSINESS FOR YOUNG WOMEN, THE, GRAMERCY ARTS HIGH SCHOOL, NYC ISCHOOL, MANHATTAN BUSINESS ACADEMY, BUSINESS OF SPORTS SCHOOL, EMMA LAZARUS HIGH SCHOOL, THE HIGH SCHOOL FOR LANGUAGE AND DIPLOMACY, HIGH SCHOOL FOR ENVIRONMENTAL STUDIES, INSTITUTE FOR COLLABORATIVE EDUCATION, PROFESSIONAL PERFORMING ARTS HIGH SCHOOL, BARUCH COLLEGE CAMPUS HIGH SCHOOL, N.Y.C. LAB SCHOOL FOR COLLABORATIVE STUDIES, SCHOOL OF THE FUTURE HIGH SCHOOL, N.Y.C. MUSEUM SCHOOL, ELEANOR ROOSEVELT HIGH SCHOOL, MILLENNIUM HIGH SCHOOL, LANDMARK HIGH SCHOOL, HIGH SCHOOL FOR HEALTH PROFESSIONS AND HUMAN SERVICES, LEADERSHIP AND PUBLIC SERVICE HIGH SCHOOL, MANHATTAN ACADEMY FOR ARTS & LANGUAGE, LEGACY SCHOOL FOR INTEGRATED STUDIES, HUDSON HIGH SCHOOL OF LEARNING TECHNOLOGIES, INTERNATIONAL HIGH SCHOOL AT UNION SQUARE, MANHATTAN VILLAGE ACADEMY, BAYARD RUSTIN EDUCATIONAL COMPLEX, VANGUARD HIGH SCHOOL, MANHATTAN INTERNATIONAL HIGH SCHOOL, WASHINGTON IRVING HIGH SCHOOL, WASHINGTON IRVING YABC, STUYVESANT HIGH SCHOOL, HIGH SCHOOL OF ECONOMICS AND FINANCE, UNITY CENTER FOR URBAN TECHNOLOGIES, TALENT UNLIMITED HIGH SCHOOL, MURRY BERGTRAUM HIGH SCHOOL FOR BUSINESS CAREERS, JACQUELINE KENNEDY ONASSIS HIGH SCHOOL, REPERTORY COMPANY HIGH SCHOOL FOR THEATRE ARTS, MANHATTAN BRIDGES HIGH SCHOOL, NEW DESIGN HIGH SCHOOL, INDEPENDENCE HIGH SCHOOL, HIGH SCHOOL FOR DUAL LANGUAGE AND ASIAN STUDIES, LIBERTY HIGH SCHOOL ACADEMY FOR NEWCOMERS, THE URBAN ASSEMBLY NEW YORK HARBOR SCHOOL, HIGH SCHOOL M560 s CITY AS SCHOOL, URBAN ACADEMY LABORATORY HIGH SCHOOL, SATELLITE ACADEMY HIGH SCHOOL, MANHATTAN COMPREHENSIVE NIGHT AND DAY HIGH SCHOOL, RICHARD R. GREEN HIGH SCHOOL OF TEACHING, HARVEY MILK HIGH SCHOOL, THE HIGH SCHOOL OF FASHION INDUSTRIES, HUMANITIES PREPARATORY ACADEMY, CHELSEA CAREER AND TECHNICAL EDUCATION HIGH SCHOOL, NORMAN THOMAS HIGH SCHOOL, HIGH SCHOOL OF GRAPHIC COMMUNICATION ARTS, ART AND DESIGN HIGH SCHOOL, LIFE SCIENCES SECONDARY SCHOOL, MANHATTAN THEATRE LAB HIGH SCHOOL, HIGH SCHOOL FOR ARTS, IMAGINATION AND INQUIRY, URBAN ASSEMBLY SCHOOL FOR MEDIA STUDIES, THE, THE URBAN ASSEMBLY SCHOOL FOR GREEN CAREERS, THE GLOBAL LEARNING COLLABORATIVE, INNOVATION DIPLOMA PLUS, WADLEIGH SECONDARY SCHOOL FOR THE PERFORMING & VISUAL ARTS, FRANK MCCOURT HIGH SCHOOL, LOUIS D. BRANDEIS HIGH SCHOOL, BEACON HIGH SCHOOL, FIORELLO H. LAGUARDIA HIGH SCHOOL OF MUSIC & ART AND PERFORMING ARTS, HIGH SCHOOL FOR LAW, ADVOCACY AND COMMUNITY JUSTICE, HIGH SCHOOL OF ARTS AND TECHNOLOGY, EDWARD A. REYNOLDS WEST SIDE HIGH SCHOOL, MANHATTAN / HUNTER SCIENCE HIGH SCHOOL, YOUNG ADULT BOROUGH CENTER AT LOUIS D. BRANDEIS HS, FREDERICK DOUGLASS ACADEMY II SECONDARY SCHOOL, COALITION SCHOOL FOR SOCIAL CHANGE, MANHATTAN CENTER FOR SCIENCE AND MATHEMATICS, PARK EAST HIGH SCHOOL, CENTRAL PARK EAST HIGH SCHOOL, YOUNG WOMEN'S LEADERSHIP SCHOOL, ACADEMY OF ENVIRONMENTAL SCIENCE SECONDARY HIGH SCHOOL, HERITAGE SCHOOL, THE, HARLEM RENAISSANCE HIGH SCHOOL, MOTT HALL HIGH SCHOOL, COLUMBIA SECONDARY SCHOOL FOR MATH, SCIENCE, AND ENGINEERING, ACADEMY FOR SOCIAL ACTION: A COLLEGE BOARD SCHOOL, URBAN ASSEMBLY SCHOOL FOR THE PERFORMING ARTS, CHOIR ACADEMY OF HARLEM, FREDERICK DOUGLASS ACADEMY, THURGOOD MARSHALL ACADEMY FOR LEARNING AND SOCIAL CHANGE, BREAD & ROSES INTEGRATED ARTS HIGH SCHOOL, HIGH SCHOOL FOR MATHEMATICS, SCIENCE AND ENGINEERING AT CITY COLLEGE, CITY COLLEGE ACADEMY OF THE ARTS, COMMUNITY HEALTH ACADEMY OF THE HEIGHTS, WASHINGTON HEIGHTS EXPEDITIONARY LEARNING SCHOOL, HIGH SCHOOL FOR EXCELLENCE AND INNOVATION, GEORGE WASHINGTON YABC, HIGH SCHOOL FOR INTERNATIONAL BUSINESS AND FINANCE, HIGH SCHOOL FOR MEDIA AND COMMUNICATIONS, HIGH SCHOOL FOR LAW AND PUBLIC SERVICE, HIGH SCHOOL FOR HEALTH CAREERS AND SCIENCES, A. PHILIP RANDOLPH CAMPUS HIGH SCHOOL, GREGORIO LUPERON HIGH SCHOOL FOR SCIENCE AND MATHEMATICS, SOUTH BRONX PREPARATORY: A COLLEGE BOARD SCHOOL, CROTONA ACADEMY HIGH SCHOOL, INTERNATIONAL COMMUNITY HIGH SCHOOL, JILL CHAIFETZ TRANSFER HIGH SCHOOL, BRONX HAVEN HIGH SCHOOL, COMMUNITY SCHOOL FOR SOCIAL JUSTICE, MOTT HAVEN VILLAGE PREPARATORY HIGH SCHOOL, UNIVERSITY HEIGHTS SECONDARY SCHOOL, HOSTOSsLINCOLN ACADEMY OF SCIENCE, FOREIGN LANGUAGE ACADEMY OF GLOBAL STUDIES, BRONX LEADERSHIP ACADEMY II HIGH SCHOOL, NEW EXPLORERS HIGH SCHOOL, URBAN ASSEMBLY SCHOOL FOR CAREERS IN SPORTS, BRONX ACADEMY OF LETTERS, ALFRED E. SMITH CAREER AND TECHNICAL EDUCATION HIGH SCHOOL, SAMUEL GOMPERS CAREER AND TECHNICAL EDUCATION HIGH SCHOOL, HEALTH OPPORTUNITIES HIGH SCHOOL, BRONX STUDIO SCHOOL FOR WRITERS AND ARTISTS, WOMEN'S ACADEMY OF EXCELLENCE, RENAISSANCE HIGH SCHOOL FOR MUSICAL THEATER & TECHNOLOGY, GATEWAY SCHOOL FOR ENVIRONMENTAL RESEARCH AND TECHNOLOGY, PABLO NERUDA ACADEMY FOR ARCHITECTURE AND WORLD STUDIES, MILLENNIUM ART ACADEMY, HOLCOMBE L. RUCKER SCHOOL OF COMMUNITY RESEARCH, ARCHIMEDES ACADEMY FOR MATH, SCIENCE AND TECHNOLOGY APPLICATIONS, ANTONIA PANTOJA PREPARATORY ACADEMY, A COLLEGE BOARD SCHOOL, BRONX COMMUNITY HIGH SCHOOL, HERBERT H. LEHMAN HIGH SCHOOL, HERBERT H. LEHMAN YABC, BRONX BRIDGES HIGH SCHOOL, BRONX GUILD, STEVENSON YABC, FELISA RINCON DE GAUTIER INSTITUTE FOR LAW AND PUBLIC POLICY, THE, BANANA KELLY HIGH SCHOOL, BRONX ARENA HIGH SCHOOL, SCHOOL FOR COMMUNITY RESEARCH AND LEARNING, HIGH SCHOOL X560 s BRONX ACADEMY HIGH SCHOOL, JANE ADDAMS HIGH SCHOOL FOR ACADEMIC CAREERS, BRONX EXPEDITIONARY LEARNING HIGH SCHOOL, EAGLE ACADEMY FOR YOUNG MEN, URBAN ASSEMBLY ACADEMY FOR HISTORY AND CITIZENSHIP FOR YOUNG MEN, THE, URBAN ASSEMBLY SCHOOL FOR APPLIED MATH AND SCIENCE, THE, EXIMIUS COLLEGE PREPARATORY ACADEMY: A COLLEGE BOARD SCHOOL, MOTT HALL BRONX HIGH SCHOOL, BRONX CENTER FOR SCIENCE AND MATHEMATICS, VALIDUS PREPARATORY ACADEMY: AN EXPEDITIONARY LEARNING SCHOOL, LEADERSHIP INSTITUTE, MORRIS ACADEMY FOR COLLABORATIVE STUDIES, BRONX EARLY COLLEGE ACADEMY FOR TEACHING & LEARNING, DREAMYARD PREPARATORY SCHOOL, ACADEMY FOR LANGUAGE AND TECHNOLOGY, BRONX INTERNATIONAL HIGH SCHOOL, SCHOOL FOR EXCELLENCE, BRONX HIGH SCHOOL OF BUSINESS, BRONX HIGH SCHOOL FOR MEDICAL SCIENCE, JONATHAN LEVIN HIGH SCHOOL FOR MEDIA AND COMMUNICATIONS, BRONX SCHOOL FOR LAW, GOVERNMENT AND JUSTICE, FREDERICK DOUGLASS ACADEMY III SECONDARY SCHOOL, BRONX LEADERSHIP ACADEMY HIGH SCHOOL, HIGH SCHOOL FOR VIOLIN AND DANCE, RIVERDALE / KINGSBRIDGE ACADEMY (MIDDLE SCHOOL / HIGH SCHOOL 141), BRONX ENGINEERING AND TECHNOLOGY ACADEMY, THEATRE ARTS PRODUCTION COMPANY SCHOOL, THE MARIE CURIE SCHOOL FOR MEDICINE, NURSING, AND HEALTH PROFESSIONS, WEST BRONX ACADEMY FOR THE FUTURE, KINGSBRIDGE INTERNATIONAL HIGH SCHOOL, BRONX SCHOOL OF LAW AND FINANCE, PROVIDING URBAN LEARNERS SUCCESS IN EDUCATION HIGH SCHOOL, INTERNATIONAL SCHOOL FOR LIBERAL ARTS, INsTECH ACADEMY (M.S. / HIGH SCHOOL 368), KNOWLEDGE AND POWER PREPARATORY ACADEMY INTERNATIONAL HIGH SCHOOL (KAPPA), ENGLISH LANGUAGE LEARNERS AND INTERNATIONAL SUPPORT PREPARATORY ACADEMY (ELLIS), HIGH SCHOOL FOR TEACHING AND THE PROFESSIONS, BELMONT PREPARATORY HIGH SCHOOL, FORDHAM HIGH SCHOOL FOR THE ARTS, FORDHAM LEADERSHIP ACADEMY FOR BUSINESS AND TECHNOLOGY, BRONX HIGH SCHOOL FOR LAW AND COMMUNITY SERVICE, DEWITT CLINTON HIGH SCHOOL, CELIA CRUZ BRONX HIGH SCHOOL OF MUSIC, THE, BRONX HIGH SCHOOL OF SCIENCE, JOHN F. KENNEDY HIGH SCHOOL, MARBLE HILL HIGH SCHOOL FOR INTERNATIONAL STUDIES, LEARNING TO WORK GED AT JOHN F. KENNEDY, BRONX THEATRE HIGH SCHOOL, DISCOVERY HIGH SCHOOL, GRACE DODGE CAREER AND TECHNICAL EDUCATION HIGH SCHOOL, GRACE DODGE YABC, HIGH SCHOOL OF AMERICAN STUDIES AT LEHMAN COLLEGE, BRONX HEALTH SCIENCES HIGH SCHOOL, BRONX HIGH SCHOOL FOR WRITING AND COMMUNICATION ARTS, BRONX LAB SCHOOL, ACADEMY FOR SCHOLARSHIP AND ENTREPRENEURSHIP: A COLLEGE BOARD SCHOOL, HIGH SCHOOL OF COMPUTERS AND TECHNOLOGY, COLLEGIATE INSTITUTE FOR MATH AND SCIENCE, BRONX ACADEMY OF HEALTH CAREERS, ASTOR COLLEGIATE ACADEMY, CHRISTOPHER COLUMBUS HIGH SCHOOL, YOUNG ADULT BOROUGH CNTR CHRISTOPHER COLUMBUS HS, BRONX HIGH SCHOOL FOR THE VISUAL ARTS, HARRY S TRUMAN HIGH SCHOOL, LEARNING TO WORK YABC AT TRUMAN HIGH SCHOOL, NEW WORLD HIGH SCHOOL, THE BRONXWOOD PREPARATORY ACADEMY, GLOBAL ENTERPRISE HIGH SCHOOL, PELHAM PREPARATORY ACADEMY, HIGH SCHOOL FOR CONTEMPORARY ARTS, BRONX AEROSPACE HIGH SCHOOL, NEW DAY ACADEMY, METROPOLITAN HIGH SCHOOL, THE, EXPLORATIONS ACADEMY, PERFORMANCE CONSERVATORY HIGH SCHOOL, BRONX LATIN, EAST BRONX ACADEMY FOR THE FUTURE, PEACE AND DIVERSITY ACADEMY, PAN AMERICAN INTERNATIONAL HIGH SCHOOL AT MONROE, LEARNING TO WORK YABC AT MONROE ACADEMY, ARTURO A. SCHOMBURG SATELLITE ACADEMY BRONX, THE CINEMA SCHOOL, BRONX CAREER AND COLLEGE PREPARATORY HIGH SCHOOL, BRONX REGIONAL HIGH SCHOOL, HIGH SCHOOL OF WORLD CULTURES, FANNIE LOU HAMER FREEDOM HIGH SCHOOL, WINGS ACADEMY, MONROE ACADEMY FOR BUSINESS/LAW, MONROE ACADEMY FOR VISUAL ARTS & DESIGN, DR. SUSAN S. MCKINNEY SECONDARY SCHOOL OF THE ARTS, ACADEMY OF BUSINESS AND COMMUNITY DEVELOPMENT, URBAN ASSEMBLY HIGH SCHOOL OF MUSIC AND ART, BROOKLYN COMMUNITY HIGH SCHOOL OF COMMUNICATION, ARTS AND MEDIA, SCIENCE SKILLS CENTER HIGH SCHOOL FOR SCIENCE, TECHNOLOGY AND THE CREATIVE ARTS, BROOKLYN TECHNICAL HIGH SCHOOL, BROOKLYN INTERNATIONAL HIGH SCHOOL, THE URBAN ASSEMBLY SCHOOL FOR LAW AND JUSTICE, ACORN COMMUNITY HIGH SCHOOL, FREEDOM ACADEMY HIGH SCHOOL, URBAN ASSEMBLY INSTITUTE OF MATH AND SCIENCE FOR YOUNG WOMEN, BROOKLYN ACADEMY HIGH SCHOOL, BEDFORD STUYVESANT PREPARATORY HIGH SCHOOL, BEDFORD ACADEMY HIGH SCHOOL, GEORGE WESTINGHOUSE CAREER AND TECHNICAL EDUCATION HIGH SCHOOL, BROOKLYN HIGH SCHOOL FOR LEADERSHIP AND COMMUNITY SERVICE, BENJAMIN BANNEKER ACADEMY, CITY POLYTECHNIC HIGH SCHOOL OF ENGINEERING, ARCHITECTURE, AND TECHNOLOGY, JUAN MOREL CAMPOS SECONDARY SCHOOL, FOUNDATIONS ACADEMY, ACADEMY FOR YOUNG WRITERS, BROOKLYN LATIN SCHOOL, THE, GREEN SCHOOL: AN ACADEMY FOR ENVIRONMENTAL CAREERS, PROGRESS HIGH SCHOOL FOR PROFESSIONAL CAREERS, SCHOOL FOR LEGAL STUDIES, THE HIGH SCHOOL FOR ENTERPRISE, BUSINESS AND TECHNOLOGY, BROOKLYN PREPARATORY HIGH SCHOOL, WILLIAMSBURG HIGH SCHOOL FOR ARCHITECTURE AND DESIGN, WILLIAMSBURG PREPARATORY SCHOOL, LYONS COMMUNITY SCHOOL, AUTOMOTIVE HIGH SCHOOL, FRANCES PERKINS ACADEMY, EL PUENTE ACADEMY FOR PEACE AND JUSTICE, AUTOMOTIVE HIGH SCHOOL YABC, BROOKLYN SCHOOL FOR GLOBAL STUDIES, BROOKLYN SECONDARY SCHOOL FOR COLLABORATIVE STUDIES, SECONDARY SCHOOL FOR LAW, SECONDARY SCHOOL FOR JOURNALISM, PARK SLOPE COLLEGIATE, SCHOOL FOR INTERNATIONAL STUDIES, COBBLE HILL SCHOOL OF AMERICAN STUDIES, PACIFIC HIGH SCHOOL, WEST BROOKLYN COMMUNITY HIGH SCHOOL, METROPOLITAN CORPORATE ACADEMY HIGH SCHOOL, BROOKLYN HIGH SCHOOL OF THE ARTS, SUNSET PARK HIGH SCHOOL, SOUTH BROOKLYN COMMUNITY HIGH SCHOOL, FREDERICK DOUGLASS ACADEMY IV SECONDARY SCHOOL, BOYS AND GIRLS HIGH SCHOOL, BROOKLYN HIGH SCHOOL FOR LAW AND TECHNOLOGY, GOTHAM PROFESSIONAL ARTS ACADEMY, THE BROOKLYN ACADEMY OF GLOBAL FINANCE, ACADEMY FOR COLLEGE PREPARATION AND CAREER EXPLORATION: A COLLEGE BOARD SCHOOL, ACADEMY OF HOSPITALITY AND TOURISM, ERASMUS YABC, W.E.B. DUBOIS ACADEMIC HIGH SCHOOL, INTERNATIONAL HIGH SCHOOL AT PROSPECT HEIGHTS, THE HIGH SCHOOL FOR GLOBAL CITIZENSHIP, SCHOOL FOR HUMAN RIGHTS, THE, SCHOOL FOR DEMOCRACY AND LEADERSHIP, HIGH SCHOOL FOR YOUTH AND COMMUNITY DEVELOPMENT AT ERASMUS, HIGH SCHOOL FOR SERVICE & LEARNING AT ERASMUS, SCIENCE, TECHNOLOGY AND RESEARCH EARLY COLLEGE HIGH SCHOOL AT ERASMUS, INTERNATIONAL ARTS BUSINESS SCHOOL, HIGH SCHOOL FOR PUBLIC SERVICE: HEROES OF TOMORROW, BROOKLYN ACADEMY OF SCIENCE AND THE ENVIRONMENT, BROOKLYN SCHOOL FOR MUSIC & THEATRE, BROWNSVILLE ACADEMY HIGH SCHOOL, MEDGAR EVERS COLLEGE PREPARATORY SCHOOL, CLARA BARTON HIGH SCHOOL, PAUL ROBESON HIGH SCHOOL, ACADEMY FOR HEALTH CAREERS, IT TAKES A VILLAGE ACADEMY, BROOKLYN GENERATION SCHOOL, BROOKLYN THEATRE ARTS HIGH SCHOOL, KURT HAHN EXPEDITIONARY LEARNING SCHOOL, VICTORY COLLEGIATE HIGH SCHOOL, BROOKLYN BRIDGE ACADEMY, ARTS & MEDIA PREPARATORY ACADEMY, HIGH SCHOOL FOR INNOVATION IN ADVERTISING AND MEDIA, CULTURAL ACADEMY FOR THE ARTS AND SCIENCES, HIGH SCHOOL FOR MEDICAL PROFESSIONS, OLYMPUS ACADEMY, ACADEMY FOR CONSERVATION AND THE ENVIRONMENT, URBAN ACTION ACADEMY, EAST BROOKLYN COMMUNITY HIGH SCHOOL, EAST NEW YORK FAMILY ACADEMY, FRANKLIN K. LANE HIGH SCHOOL, THOMAS JEFFERSON YABC, FDNY HIGH SCHOOL FOR FIRE AND LIFE SAFETY, HIGH SCHOOL FOR CIVIL RIGHTS, PERFORMING ARTS AND TECHNOLOGY HIGH SCHOOL, WORLD ACADEMY FOR TOTAL COMMUNITY HEALTH HIGH SCHOOL, MULTICULTURAL HIGH SCHOOL, TRANSIT TECH CAREER AND TECHNICAL EDUCATION HIGH SCHOOL, ACADEMY OF INNOVATIVE TECHNOLOGY, BROOKLYN LAB SCHOOL, CYPRESS HILLS COLLEGIATE PREPARATORY SCHOOL, W. H. MAXWELL CAREER AND TECHNICAL EDUCATION HIGH SCHOOL, THE SCHOOL FOR CLASSICS: AN ACADEMY OF THINKERS, WRITERS AND PERFORMERS, NEW UTRECHT HIGH SCHOOL, HIGH SCHOOL OF TELECOMMUNICATION ARTS AND TECHNOLOGY, FORT HAMILTON HIGH SCHOOL, FRANKLIN DELANO ROOSEVELT HIGH SCHOOL, THE URBAN ASSEMBLY SCHOOL FOR CRIMINAL JUSTICE, FRANKLIN DELANO ROOSEVELT YABC, INTERNATIONAL HIGH SCHOOL AT LAFAYETTE, RACHEL CARSON HIGH SCHOOL FOR COASTAL STUDIES, HIGH SCHOOL OF SPORTS MANAGEMENT, ABRAHAM LINCOLN HIGH SCHOOL, ABRAHAM LINCOLN YABC/LEARNING TO WORK GED AT ABRAHAM LINCOLN, KINGSBOROUGH EARLY COLLEGE SCHOOL, EDWARD R. MURROW HIGH SCHOOL, JOHN DEWEY HIGH SCHOOL, LIFE ACADEMY HIGH SCHOOL FOR FILM AND MUSIC, EXPEDITIONARY LEARNING SCHOOL FOR COMMUNITY LEADERS, WILLIAM E. GRADY CAREER AND TECHNICAL EDUCATION HIGH SCHOOL, BROOKLYN STUDIO SECONDARY SCHOOL, LIBERATION DIPLOMA PLUS, MIDWOOD HIGH SCHOOL, JAMES MADISON HIGH SCHOOL, SHEEPSHEAD BAY HIGH SCHOOL, LEON M. GOLDSTEIN HIGH SCHOOL FOR THE SCIENCES, BROOKLYN COLLEGE ACADEMY, BROOKLYN COLLEGIATE: A COLLEGE BOARD SCHOOL, FREDERICK DOUGLASS ACADEMY VII HIGH SCHOOL, BROOKLYN DEMOCRACY ACADEMY, ASPIRATIONS DIPLOMA PLUS HIGH SCHOOL, METROPOLITAN DIPLOMA PLUS HIGH SCHOOL, TEACHERS PREPARATORY HIGH SCHOOL, ACADEMY OF FINANCE AND ENTERPRISE, HIGH SCHOOL OF APPLIED COMMUNICATION, CIVIC LEADERSHIP ACADEMY, PAN AMERICAN INTERNATIONAL HIGH SCHOOL, BARD HIGH SCHOOL EARLY COLLEGE II, NEWTOWN HIGH SCHOOL, YOUNG ADULT BOROUGH CENTER AT ARTS AND BUSINESS HS, GROVER CLEVELAND HIGH SCHOOL, MIDDLE COLLEGE HIGH SCHOOL AT LAGUARDIA COMMUNITY COLLEGE, INTERNATIONAL HIGH SCHOOL AT LAGUARDIA COMMUNITY COLLEGE, HIGH SCHOOL FOR ARTS AND BUSINESS, ROBERT F. WAGNER, JR. SECONDARY SCHOOL FOR ARTS AND TECHNOLOGY, QUEENS VOCATIONAL AND TECHNICAL HIGH SCHOOL, AVIATION CAREER & TECHNICAL EDUCATION HIGH SCHOOL, VOYAGES PREPARATORY, QUEENS SCHOOL OF INQUIRY, THE, FLUSHING INTERNATIONAL HIGH SCHOOL, EASTsWEST SCHOOL OF INTERNATIONAL STUDIES, WORLD JOURNALISM PREPARATORY: A COLLEGE BOARD SCHOOL, JOHN BOWNE HIGH SCHOOL, FLUSHING HIGH SCHOOL, FLUSHING YABC, TOWNSEND HARRIS HIGH SCHOOL, QUEENS ACADEMY HIGH SCHOOL, ROBERT F. KENNEDY COMMUNITY HIGH SCHOOL, NORTH QUEENS COMMUNITY HIGH SCHOOL, BENJAMIN N. CARDOZO HIGH SCHOOL, FRANCIS LEWIS HIGH SCHOOL, MARTIN VAN BUREN HIGH SCHOOL, BAYSIDE HIGH SCHOOL, QUEENS HIGH SCHOOL OF TEACHING, LIBERAL ARTS AND THE SCIENCES, FREDERICK DOUGLASS ACADEMY VI HIGH SCHOOL, CHANNEL VIEW SCHOOL FOR RESEARCH, QUEENS HIGH SCHOOL FOR INFORMATION, RESEARCH, AND TECHNOLOGY, ROBERT H. GODDARD HIGH SCHOOL OF COMMUNICATION ARTS AND TECHNOLOGY, ACADEMY OF MEDICAL TECHNOLOGY: A COLLEGE BOARD SCHOOL, SCHOLARS' ACADEMY, AUGUST MARTIN HIGH SCHOOL, BEACH CHANNEL HIGH SCHOOL, RICHMOND HILL HIGH SCHOOL, JOHN ADAMS HIGH SCHOOL, HIGH SCHOOL FOR CONSTRUCTION TRADES, ENGINEERING AND ARCHITECTURE, YORK EARLY COLLEGE ACADEMY, QUEENS COLLEGIATE: A COLLEGE BOARD SCHOOL, HILLSIDE ARTS & LETTERS ACADEMY, QUEENS SATELLITE HIGH SCHOOL FOR OPPORTUNITY, JAMAICA GATEWAY TO THE SCIENCES, FOREST HILLS HIGH SCHOOL, JAMAICA HIGH SCHOOL, HILLCREST HIGH SCHOOL, THOMAS A. EDISON CAREER AND TECHNICAL EDUCATION HIGH SCHOOL, QUEENS GATEWAY TO HEALTH SCIENCES SECONDARY SCHOOL, QUEENS METROPOLITAN HIGH SCHOOL, QUEENS HIGH SCHOOL FOR THE SCIENCES AT YORK COLLEGE, HIGH SCHOOL FOR LAW ENFORCEMENT AND PUBLIC SAFETY, YOUNG WOMEN'S LEADERSHIP SCHOOL, QUEENS, QUEENS PREPARATORY ACADEMY, PATHWAYS COLLEGE PREPARATORY SCHOOL: A COLLEGE BOARD SCHOOL, EXCELSIOR PREPARATORY HIGH SCHOOL, GEORGE WASHINGTON CARVER HIGH SCHOOL FOR THE SCIENCES, PREPARATORY ACADEMY FOR WRITERS: A COLLEGE BOARD SCHOOL, CAMBRIA HEIGHTS ACADEMY, MATHEMATICS, SCIENCE RESEARCH AND TECHNOLOGY MAGNET HIGH SCHOOL, LAW, GOVERNMENT AND COMMUNITY SERVICE HIGH SCHOOL, BUSINESS, COMPUTER APPLICATIONS & ENTREPRENEURSHIP HIGH SCHOOL, HUMANITIES & ARTS MAGNET HIGH SCHOOL, YOUNG WOMEN'S LEADERSHIP SCHOOL, ASTORIA, ACADEMY FOR CAREERS IN TELEVISION AND FILM, WILLIAM CULLEN BRYANT HIGH SCHOOL, LONG ISLAND CITY HIGH SCHOOL, FRANK SINATRA SCHOOL OF THE ARTS HIGH SCHOOL, INFORMATION TECHNOLOGY HIGH SCHOOL, NEWCOMERS HIGH SCHOOL, ACADEMY OF AMERICAN STUDIES, BACCALAUREATE SCHOOL FOR GLOBAL EDUCATION, CSI HIGH SCHOOL FOR INTERNATIONAL STUDIES, GAYNOR MCCOWN EXPEDITIONARY LEARNING SCHOOL, THE MICHAEL J. PETRIDES SCHOOL, NEW DORP HIGH SCHOOL, PORT RICHMOND HIGH SCHOOL, CURTIS HIGH SCHOOL, TOTTENVILLE HIGH SCHOOL, SUSAN E. WAGNER HIGH SCHOOL, CONCORD HIGH SCHOOL, RALPH R. MCKEE CAREER AND TECHNICAL EDUCATION HIGH SCHOOL, STATEN ISLAND TECHNICAL HIGH SCHOOL, YOUNG ADULT BOROUGH CENTER AT STATEN IS TECH HS, ACADEMY FOR ENVIRONMENTAL LEADERSHIP, EBC HIGH SCHOOL FOR PUBLIC SERVICE–BUSHWICK, BUSHWICK SCHOOL FOR SOCIAL JUSTICE, ACADEMY OF URBAN PLANNING, ALL CITY LEADERSHIP SECONDARY SCHOOL, BUSHWICK LEADERS HIGH SCHOOL FOR ACADEMIC EXCELLENCE, BUSHWICK COMMUNITY HIGH SCHOOL, P.S. 371 s LILLIAN L. RASHKIS, P.S. 035, P.S. Q256, P.S. Q811, SOUTH RICHMOND HIGH SCHOOL I.S./P.S. 25, P.S. X012 LEWIS AND CLARK SCHOOL, J. M. RAPPORT SCHOOL CAREER DEVELOPMENT, SCHOOL FOR COOPERATIVE TECHNICAL EDUCATION, GED PLUS s CITYWIDE, PHOENIX ACADEMY"

# Export DataFrame to CSV File with the .to_csv() Method

In [23]:
online.to_csv("SAT_2012.csv", index = False)

# Install xlrd and openpyxl Libraries to Read and Write Excel Files

In [24]:
import xlrd as xl 
import openpyxl as pxl

In [38]:
mul = pd.read_excel("D:/python/Data Analysis with Python/#Udemy/Pandas/Data - Multiple Worksheets.xlsx", sheet_name = 1) #mul sheets 
single = pd.read_excel("D:/python/Data Analysis with Python/#Udemy/Pandas/Data - Single Worksheet.xlsx")

In [39]:
mul.head()

  First Name Last Name           City Gender
0     Parker     Power        Raleigh      F
1    Preston  Prescott   Philadelphia      F
2    Ronaldo   Donaldo         Bangor      M
3      Megan   Stiller  San Francisco      M
4     Bustin    Jieber         Austin      F

In [40]:
single.head()

  First Name Last Name           City Gender
0    Brandon     James          Miami      M
1       Sean   Hawkins         Denver      M
2       Judy       Day    Los Angeles      F
3     Ashley      Ruiz  San Francisco      F
4  Stephanie     Gomez       Portland      F

In [42]:
mul.to_csv("Mul.csv")

In [43]:
mul.to_excel(excel_writer = ,sheet_name="sheet.xlsx")

TypeError: to_excel() missing 1 required positional argument: 'excel_writer'