In [2]:
import pandas as pd
import numpy as np

In [5]:
arr= np.random.randint(0, 100, [1000,50]) #lower, upper, [array size]

In [20]:
yellow = pd.DataFrame(arr).head()

In [29]:
pd.options.display.max_columns = 20

In [30]:
pd.options.display.max_rows = 5

In [31]:
yellow

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
0,9,5,28,5,69,6,1,15,17,23,...,24,0,94,13,52,91,73,36,23,27
1,15,71,9,17,81,6,0,87,90,67,...,77,13,87,28,37,4,60,49,4,87
2,8,46,66,31,47,25,29,28,83,89,...,14,18,59,92,78,36,65,6,17,5
3,59,81,9,70,94,95,49,0,23,15,...,58,10,8,19,69,10,86,72,33,91
4,19,50,9,63,3,21,0,54,60,60,...,47,63,5,37,23,37,44,96,45,84

# Changing pandas Options with Methods

In [35]:
pd.get_option("max_rows", 12)

5

In [36]:
pd.get_option("max_columns")

20

In [37]:
yellow

,0,1,2,3,4,5,6,7,8,9,...,40,41,42,43,44,45,46,47,48,49
0,9,5,28,5,69,6,1,15,17,23,...,24,0,94,13,52,91,73,36,23,27
1,15,71,9,17,81,6,0,87,90,67,...,77,13,87,28,37,4,60,49,4,87
2,8,46,66,31,47,25,29,28,83,89,...,14,18,59,92,78,36,65,6,17,5
3,59,81,9,70,94,95,49,0,23,15,...,58,10,8,19,69,10,86,72,33,91
4,19,50,9,63,3,21,0,54,60,60,...,47,63,5,37,23,37,44,96,45,84

# The precision Option

In [45]:
df = pd.DataFrame(np.random.randn(5,5))

In [46]:
pd.get_option("precision")

2

In [51]:
pd.set_option("precision", 2)

In [53]:
pd.reset_option("precision")

In [54]:
df

          0         1         2         3         4
0  1.562918 -0.631817 -0.170064  1.683983  0.797671
1  0.701884  0.088223 -1.293221 -0.424140 -0.292480
2  0.287173  0.255426 -0.169891 -0.382919  0.132677
3 -1.975220 -0.203961 -1.934585 -0.481063  0.352147
4  0.416520  0.913676 -0.447574  0.165269 -0.892474

----------------------------------------------------------------------------------------------------------------------------