In [224]:
import pandas as pd
import numpy as np
import datetime as dt #python module and not triggered automatically unless specified
from pandas_datareader import data as dr
import matplotlib.pyplot as plt
from pandas.tseries.offsets import *

# Review of Python's datetime Module

In [2]:
someday = dt.date(2016, 1, 5) #year, month, date

In [3]:
someday.year #year

someday.day #date

someday.month #month

1

In [10]:
datetim = dt.datetime(2010, 10, 20, 4, 5, 57) #year, month, date, hour, minute

In [13]:
datetim.year
datetim.month
datetim.day
datetim.hour
datetim.minute
datetim.second

57

In [12]:
# The pandas Timestamp Object

In [16]:
pd.Timestamp(datetim)

Timestamp('2010-10-20 04:05:57')

In [24]:
pd.Timestamp('1996-8-2 04:05:57')

Timestamp('1996-08-02 04:05:57')

In [22]:
pd.Timestamp(dt.datetime(1996, 8, 2,))

Timestamp('1996-08-02 00:00:00')

# The pandas DateTimeIndex Object

In [25]:
dates = ["2016-01-02", "2016-01-21" ,"2016-01-26" ,"2016-01-31"]

In [26]:
dates

['2016-01-02', '2016-01-21', '2016-01-26', '2016-01-31']

In [28]:
date_index = pd.DatetimeIndex(dates)

In [49]:
values = np.array([115, 219, 347, 498])

In [50]:
values

array([115, 219, 347, 498])

In [51]:
pd.Series(data = values, index = date_index)

2016-01-02    115
2016-01-21    219
2016-01-26    347
2016-01-31    498
dtype: int32

In [59]:
times =  pd.to_datetime(["2016-01-02", "2016-01-21" ,"2016-01-26" ,"2016-01-31"])

In [62]:
pd.Series(times)

0   2016-01-02
1   2016-01-21
2   2016-01-26
3   2016-01-31
dtype: datetime64[ns]

# Create Range of Dates with the pd.date_range() Method, Part 1

In [110]:
range = pd.date_range(start = "1996-08-02", end ="2019-01-12", freq = "H") # B- BUSINESS DAYS, W- WEEKS, H -HOUR A - YEAR, M-MONTH

In [103]:
type(range)

pandas.core.indexes.datetimes.DatetimeIndex

In [104]:
range[1]

Timestamp('1996-08-02 01:00:00', freq='H')

In [112]:
pd.date_range(start = "1996-08-02", periods = 31, freq = "6H")

DatetimeIndex(['1996-08-02 00:00:00', '1996-08-02 06:00:00',
               '1996-08-02 12:00:00', '1996-08-02 18:00:00',
               '1996-08-03 00:00:00', '1996-08-03 06:00:00',
               '1996-08-03 12:00:00', '1996-08-03 18:00:00',
               '1996-08-04 00:00:00', '1996-08-04 06:00:00',
               '1996-08-04 12:00:00', '1996-08-04 18:00:00',
               '1996-08-05 00:00:00', '1996-08-05 06:00:00',
               '1996-08-05 12:00:00', '1996-08-05 18:00:00',
               '1996-08-06 00:00:00', '1996-08-06 06:00:00',
               '1996-08-06 12:00:00', '1996-08-06 18:00:00',
               '1996-08-07 00:00:00', '1996-08-07 06:00:00',
               '1996-08-07 12:00:00', '1996-08-07 18:00:00',
               '1996-08-08 00:00:00', '1996-08-08 06:00:00',
               '1996-08-08 12:00:00', '1996-08-08 18:00:00',
               '1996-08-09 00:00:00', '1996-08-09 06:00:00',
               '1996-08-09 12:00:00'],
              dtype='datetime64[ns]', freq='6H')

In [129]:
timely = pd.date_range(start = "1996-08-02", end ="2019-01-12", freq = "24D")

In [130]:
s = pd.Series(timely)

In [132]:
s.head

<bound method NDFrame.head of 0     1996-08-02
1     1996-08-26
2     1996-09-19
3     1996-10-13
4     1996-11-06
5     1996-11-30
6     1996-12-24
7     1997-01-17
8     1997-02-10
9     1997-03-06
10    1997-03-30
11    1997-04-23
12    1997-05-17
13    1997-06-10
14    1997-07-04
15    1997-07-28
16    1997-08-21
17    1997-09-14
18    1997-10-08
19    1997-11-01
20    1997-11-25
21    1997-12-19
22    1998-01-12
23    1998-02-05
24    1998-03-01
25    1998-03-25
26    1998-04-18
27    1998-05-12
28    1998-06-05
29    1998-06-29
         ...
312   2017-02-01
313   2017-02-25
314   2017-03-21
315   2017-04-14
316   2017-05-08
317   2017-06-01
318   2017-06-25
319   2017-07-19
320   2017-08-12
321   2017-09-05
322   2017-09-29
323   2017-10-23
324   2017-11-16
325   2017-12-10
326   2018-01-03
327   2018-01-27
328   2018-02-20
329   2018-03-16
330   2018-04-09
331   2018-05-03
332   2018-05-27
333   2018-06-20
334   2018-07-14
335   2018-08-07
336   2018-08-31
337   2018-09-24
338   2018-10-18
339   2018-11-11
340   2018-12-05
341   2018-12-29
Length: 342, dtype: datetime64[ns]>

In [135]:
s.dt.daysinmonth

0      31
1      31
2      30
3      31
4      30
5      30
6      31
7      31
8      28
9      31
10     31
11     30
12     31
13     30
14     31
15     31
16     31
17     30
18     31
19     30
20     30
21     31
22     31
23     28
24     31
25     31
26     30
27     31
28     30
29     30
       ..
312    28
313    28
314    31
315    30
316    31
317    30
318    30
319    31
320    31
321    30
322    30
323    31
324    30
325    31
326    31
327    31
328    28
329    31
330    30
331    31
332    31
333    30
334    31
335    31
336    31
337    30
338    31
339    30
340    31
341    31
Length: 342, dtype: int64

In [141]:
mask = s.dt.is_month_end
s[mask]

5     1996-11-30
38    1999-01-31
43    1999-05-31
76    2001-07-31
147   2006-03-31
166   2007-06-30
180   2008-05-31
232   2011-10-31
265   2013-12-31
270   2014-04-30
303   2016-06-30
336   2018-08-31
dtype: datetime64[ns]

# Install pandas-datareader Library

In [166]:
TCS = dr.DataReader(name = "TCS", data_source = "yahoo", start = "2019-01-01", end = "2019-01-10")

In [167]:
TCS

            High   Low  Open  Close  Volume  Adj Close
Date
2018-12-31  4.86  4.63  4.71   4.77  456500       4.77
2019-01-02  5.08  4.69  4.72   4.95  272500       4.95
2019-01-03  5.08  4.82  4.92   4.93  256800       4.93
2019-01-04  5.15  4.95  5.01   5.12  217600       5.12
2019-01-07  5.49  5.05  5.12   5.38  246100       5.38
2019-01-08  5.69  5.38  5.47   5.55  323200       5.55
2019-01-09  5.63  5.47  5.49   5.54  194600       5.54
2019-01-10  5.74  5.37  5.48   5.71  250700       5.71

In [173]:
TCS.mean()

High              5.34000
Low               5.04500
Open              5.11500
Close             5.24375
Volume       277250.00000
Adj Close         5.24375
dtype: float64

In [174]:
TCS.columns

Index(['High', 'Low', 'Open', 'Close', 'Volume', 'Adj Close'], dtype='object')

In [175]:
TCS.axes

[DatetimeIndex(['2018-12-31', '2019-01-02', '2019-01-03', '2019-01-04',
                '2019-01-07', '2019-01-08', '2019-01-09', '2019-01-10'],
               dtype='datetime64[ns]', name='Date', freq=None),
 Index(['High', 'Low', 'Open', 'Close', 'Volume', 'Adj Close'], dtype='object')]

# Selecting Rows from a DataFrame with a DateTimeIndex

In [177]:
TCS.loc["2019-01-03" : "2019-01-09"]

            High   Low  Open  Close  Volume  Adj Close
Date
2019-01-03  5.08  4.82  4.92   4.93  256800       4.93
2019-01-04  5.15  4.95  5.01   5.12  217600       5.12
2019-01-07  5.49  5.05  5.12   5.38  246100       5.38
2019-01-08  5.69  5.38  5.47   5.55  323200       5.55
2019-01-09  5.63  5.47  5.49   5.54  194600       5.54

In [180]:
pd.date_range(start = "2012-01-01", end = "2012-02-02", freq = pd.DateOffset(n = 1))

DatetimeIndex(['2012-01-01', '2012-01-02', '2012-01-03', '2012-01-04',
               '2012-01-05', '2012-01-06', '2012-01-07', '2012-01-08',
               '2012-01-09', '2012-01-10', '2012-01-11', '2012-01-12',
               '2012-01-13', '2012-01-14', '2012-01-15', '2012-01-16',
               '2012-01-17', '2012-01-18', '2012-01-19', '2012-01-20',
               '2012-01-21', '2012-01-22', '2012-01-23', '2012-01-24',
               '2012-01-25', '2012-01-26', '2012-01-27', '2012-01-28',
               '2012-01-29', '2012-01-30', '2012-01-31', '2012-02-01',
               '2012-02-02'],
              dtype='datetime64[ns]', freq='<DateOffset>')

# Timestamp Object Attributes

In [184]:
msft = dr.DataReader(name = "MSFT", data_source = "yahoo", start = "2019-01-01", end = "2019-01-10")

In [186]:
msft.head()

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2018-12-31,102.400002,100.440002,101.290001,101.570000,33173800,101.570000
2019-01-02,101.750000,98.940002,99.550003,101.120003,35329300,101.120003
2019-01-03,100.190002,97.199997,100.099998,97.400002,42579100,97.400002
2019-01-04,102.510002,98.930000,99.720001,101.930000,44060600,101.930000
2019-01-07,103.269997,100.980003,101.639999,102.059998,35656100,102.059998

In [189]:
someday = msft.index[5]

In [190]:
someday.day

8

In [191]:
msft.insert(0, "Day of the Week", msft.index.weekday_name)

In [193]:
msft.insert(1, "Start of the month", msft.index.is_month_start)

In [194]:
msft

,Day of the Week,Start of the month,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,,,
2018-12-31,Monday,False,102.400002,100.440002,101.290001,101.570000,33173800,101.570000
2019-01-02,Wednesday,False,101.750000,98.940002,99.550003,101.120003,35329300,101.120003
2019-01-03,Thursday,False,100.190002,97.199997,100.099998,97.400002,42579100,97.400002
2019-01-04,Friday,False,102.510002,98.930000,99.720001,101.930000,44060600,101.930000
2019-01-07,Monday,False,103.269997,100.980003,101.639999,102.059998,35656100,102.059998
2019-01-08,Tuesday,False,103.970001,101.709999,103.040001,102.800003,31514400,102.800003
2019-01-09,Wednesday,False,104.879997,103.239998,103.860001,104.269997,32280800,104.269997
2019-01-10,Thursday,False,103.750000,102.379997,103.220001,103.599998,30067600,103.599998

# The .truncate() Method

In [195]:
msft.truncate(before = "2019-01-04" , after = "2019-01-09")

,Day of the Week,Start of the month,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,,,
2019-01-04,Friday,False,102.510002,98.930000,99.720001,101.930000,44060600,101.930000
2019-01-07,Monday,False,103.269997,100.980003,101.639999,102.059998,35656100,102.059998
2019-01-08,Tuesday,False,103.970001,101.709999,103.040001,102.800003,31514400,102.800003
2019-01-09,Wednesday,False,104.879997,103.239998,103.860001,104.269997,32280800,104.269997

# pd.DateOffset Objects

In [199]:
google = dr.DataReader(name = "GOOG", data_source = "yahoo", start = dt.date(2019, 1, 1), end = dt.datetime.now())

In [201]:
google.head()

,High,Low,Open,Close,Volume,Adj Close
Date,,,,,,
2018-12-31,1052.699951,1023.590027,1050.959961,1035.609985,1493300,1035.609985
2019-01-02,1052.319946,1015.710022,1016.570007,1045.849976,1532600,1045.849976
2019-01-03,1056.979980,1014.070007,1041.000000,1016.059998,1841100,1016.059998
2019-01-04,1070.839966,1027.417969,1032.589966,1070.709961,2093900,1070.709961
2019-01-07,1074.000000,1054.760010,1071.500000,1068.390015,1981900,1068.390015

In [216]:
off = google.index - pd.DateOffset(days = 1)

In [230]:
google.index + BMonthEnd()
#monthend bmonthend quarterend quarterbegin yearbegin

DatetimeIndex(['2019-01-31', '2019-01-31', '2019-01-31', '2019-01-31',
               '2019-01-31', '2019-01-31', '2019-01-31', '2019-01-31',
               '2019-01-31'],
              dtype='datetime64[ns]', name='Date', freq=None)

# The pandas Timedelta Object

In [240]:
dayA = pd.Timestamp("2012-01-01")
dayB = pd.Timestamp("2012-04-21")

In [241]:
dayB - dayA

Timedelta('111 days 00:00:00')

In [244]:
pd.Timedelta(days = 3, minutes = 45, hours = 2, weeks = 8)

Timedelta('59 days 02:45:00')

# Timedeltas in a Dataset

In [256]:
ecom = pd.read_csv("D:/python/Data Analysis with Python/#Udemy/Pandas/ecommerce.csv", index_col = "ID", parse_dates = ["order_date", "delivery_date"])

ecom.head()

   order_date delivery_date
ID
1  1998-05-24    1999-02-05
2  1992-04-22    1998-03-06
4  1991-02-10    1992-08-26
5  1992-07-21    1997-11-20
7  1993-09-02    1998-06-10

In [257]:
ecom.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 501 entries, 1 to 997
Data columns (total 2 columns):
order_date       501 non-null datetime64[ns]
delivery_date    501 non-null datetime64[ns]
dtypes: datetime64[ns](2)
memory usage: 11.7 KB

In [261]:
ecom["delivery_time"] = ecom["delivery_date"] - ecom["order_date"]

In [263]:
ecom.head()

   order_date delivery_date delivery_time
ID
1  1998-05-24    1999-02-05      257 days
2  1992-04-22    1998-03-06     2144 days
4  1991-02-10    1992-08-26      563 days
5  1992-07-21    1997-11-20     1948 days
7  1993-09-02    1998-06-10     1742 days

In [271]:
ecom[ecom["delivery_time"] > "300"]

    order_date delivery_date delivery_time
ID
1   1998-05-24    1999-02-05      257 days
2   1992-04-22    1998-03-06     2144 days
4   1991-02-10    1992-08-26      563 days
5   1992-07-21    1997-11-20     1948 days
7   1993-09-02    1998-06-10     1742 days
8   1993-06-10    1993-11-11      154 days
9   1990-01-25    1994-10-02     1711 days
10  1992-02-23    1998-12-30     2502 days
11  1996-07-12    1997-07-14      367 days
18  1995-06-18    1997-10-13      848 days
19  1998-05-10    1998-05-19        9 days
20  1992-10-17    1998-10-06     2180 days
23  1992-05-30    1999-08-15     2633 days
26  1996-04-11    1998-05-04      753 days
30  1998-10-22    1999-01-11       81 days
32  1990-01-20    1998-07-24     3107 days
33  1994-09-21    1996-10-12      752 days
35  1993-09-10    1996-04-28      961 days
36  1990-05-15    1994-02-14     1371 days
39  1990-03-26    1993-01-25     1036 days
41  1992-02-06    1996-05-10     1555 days
46  1995-09-05    1996-07-19      318 days
50  1991-05-03    1999-07-17     2997 days
52  1994-09-02    1997-05-14      985 days
53  1995-11-29    1998-06-23      937 days
54  1996-08-07    1998-04-04      605 days
58  1995-02-11    1995-04-16       64 days
59  1995-09-29    1995-12-16       78 days
60  1993-02-14    1995-08-06      903 days
63  1990-12-22    1995-09-02     1715 days
..         ...           ...           ...
932 1997-07-25    1998-04-09      258 days
934 1995-05-22    1995-07-11       50 days
935 1990-09-26    1998-03-07     2719 days
938 1993-03-24    1995-07-15      843 days
939 1998-10-01    1998-12-07       67 days
942 1992-04-14    1997-03-03     1784 days
943 1991-01-30    1999-12-02     3228 days
945 1992-10-27    1994-11-03      737 days
946 1991-07-02    1996-02-23     1697 days
947 1991-06-18    1999-06-11     2915 days
949 1991-10-07    1992-01-07       92 days
951 1991-10-02    1994-04-18      929 days
953 1991-09-26    1994-05-08      955 days
954 1993-08-08    1994-01-23      168 days
956 1995-08-23    1999-01-10     1236 days
957 1994-10-01    1999-07-25     1758 days
958 1990-04-26    1997-06-29     2621 days
969 1996-09-24    1996-11-16       53 days
972 1990-02-07    1995-11-05     2097 days
975 1997-06-18    1997-11-02      137 days
981 1997-01-31    1998-03-04      397 days
983 1994-12-30    1997-07-29      942 days
984 1991-07-25    1999-02-09     2756 days
985 1995-07-26    1996-06-18      328 days
986 1990-12-10    1992-12-16      737 days
990 1991-06-24    1996-02-02     1684 days
991 1991-09-09    1998-03-30     2394 days
993 1990-11-16    1998-04-27     2719 days
994 1993-06-03    1993-06-13       10 days
997 1990-01-04    1991-10-03      637 days

[501 rows x 3 columns]

----------------------------------------------------------------------------------------------------------------------------